.dropdown {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
.dropdown-content {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: -1px;
}

.box-row {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.gap-y-5 {
  row-gap: 1.25rem; /* 20px */
}

.grid {
  display: grid;
}

.lg\:grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.gap-5 {
  gap: 1.25rem; /* 20px */
}

.h-96 {
  height: 24rem; /* 384px */
}

.bg-blue {
  background-color: blue;
}

.bg-white {
  background-color: white;
}

.m-2 {
  margin: 0.5rem; /* 8px */
}
