.dropdown {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
.dropdown-content {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: -1px;
}

.box-row {
  width: 100%;
  display: flex;
  flex-direction: column;
}


