<div class="bg-cover bg-no-repeat min-h-nmax flex justify-center "
  style="background-image: url('.../../../../../assets/imgs/bg_dashboard.png');">

  <!-- Overall Report -->
  <div class="flex flex-col w-full px-7 pt-5 gap-5">
    <div class="flex justify-start">
      <p class="text-2xl font-bold mb-5">Overall Report</p>
      <div class=" w-auto h-full pl-5">
        <select class="select select-bordered w-auto max-w-xs" title="เลือกเขตพื้นที่">
          <option>แสดงเขตทั้งหมด</option>
          <option>เขตลาดกระบัง</option>
          <option>เขตมีนบุรี</option>
          <option>เขตคลองเตย</option>
          <option>เขตวัฒนา</option>
        </select>
      </div>
    </div>
    <div class="  w-full flex flex-col gap-y-5">
      <div class="  w-full grid lg:grid-cols-2 grid-cols-1 gap-5">
        <div class="h-96 bg-blue ">
          <div class="bg-ocean-blue text-white h-14 text-xl font-semibold flex-center">ราคาทำนาย</div>
          <div class="bg-white m-2"></div>
        </div>
        <div class="h-96 bg-blue ">
          <div class="bg-ocean-blue text-white h-14 text-xl font-semibold flex-center">ราคาเฉลี่ยเขตที่ดิน</div>
          <div class="bg-white m-2"></div>
        </div>
      </div>
    </div>


    <div class="bg-white  w-full grid lg:grid-cols-2 grid-cols-1 gap-1">
      <div class=" w-8/12 h-full flex justify-around">
        <table class="table-auto w-full">
          <thead>
            <tr>
              <th class="px-4 py-2">เขตพื้นที่</th>
              <th class="px-4 py-2">ราคาทำนาย</th>
              <th class="px-4 py-2">ราคาเฉลี่ย</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border px-4 py-2">ลาดกระบัง</td>
              <td class="border px-4 py-2">400,000</td>
              <td class="border px-4 py-2">400,000</td>
            </tr>
            <tr>
              <td class="border px-4 py-2">มีนบุรี</td>
              <td class="border px-4 py-2">450,000</td>
              <td class="border px-4 py-2">400,000</td>
            </tr>
            <tr>
              <td class="border px-4 py-2">คลองเตย</td>
              <td class="border px-4 py-2">400,000</td>
              <td class="border px-4 py-2">400,000</td>
            </tr>
            <tr>
              <td class="border px-4 py-2">วัฒนา</td>
              <td class="border px-4 py-2">450,000</td>
              <td class="border px-4 py-2">400,000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="flex justify-start">
      <p class="text-2xl font-bold">Property Report</p>
    </div>


    <!-- Pinned Property   -->
    <div class="flex justify-start">
      <p class="text-2xl font-bold">Pinned Property</p>
    </div>

  </div>
</div>