<div class="bg-cover bg-no-repeat min-h-nmax flex justify-center " style="background-color: white;">

  <!-- Overall Report -->
  <div class="flex flex-col w-full px-7 pt-5 gap-5">
    <div class="flex justify-start">
      <p class="text-2xl font-bold mb-5">Overall Report</p>
      <div class=" w-auto h-full pl-5">
        <!-- <mat-form-field>
          <mat-label>เลือกเขตพื้นที่</mat-label>
          <mat-select [formControl]="area" multiple>
            @for (area of areaList; track area) {
              <mat-option [value]="topping">{{topping}}</mat-option>
            }
          </mat-select>
        </mat-form-field> -->
        <select class="select select-bordered w-auto max-w-xs" title="เลือกเขตพื้นที่">
          <option>แสดงเขตทั้งหมด</option>
          <option>เขตลาดกระบัง</option>
          <option>เขตมีนบุรี</option>
          <option>เขตคลองเตย</option>
          <option>เขตวัฒนา</option>
        </select>
      </div>
    </div>
    <div class="  w-full flex flex-col gap-y-5">
      <div class="  w-full grid lg:grid-cols-2 grid-cols-1 gap-5">
        <div class="h-96" style="margin: 5px; border: 1px solid var(--lightGrey); border-radius: 10px;">
          <div class="text-grey h-14 text-xl font-semibold flex-center"
            style="background-color: var(--lightGrey); border-top-left-radius: 10px; border-top-right-radius: 10px;;">
            ราคาทำนาย</div>
          <div class="bg-white m-2"></div>
        </div>
        <div class="h-96" style="margin: 5px; border: 1px solid var(--lightGrey); border-radius: 10px;">
          <div class="text-grey h-14 text-xl font-semibold flex-center"
            style="background-color: var(--lightGrey); border-top-left-radius: 10px; border-top-right-radius: 10px;;">
            ราคาเฉลี่ยเขตที่ดิน</div>
          <div class="bg-white m-2"></div>
        </div>
      </div>
    </div>


    <div class="bg-white text-grey w-full grid lg:grid-cols-1 grid-cols-1 gap-1">
      <div class="w-full h-full flex justify-center">
        <table class="table-auto w-full mx-auto justify-center">
          <thead>
            <tr>
              <th class="px-4 py-2 text-left" style="background-color: var(--whiteGrey);">เขตพื้นที่</th>
              <th class="px-4 py-2" style="background-color: var(--whiteGrey);">ราคาทำนาย</th>
              <th class="px-4 py-2" style="background-color: var(--whiteGrey);">ราคาเฉลี่ย</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-4 py-2 text-left">ลาดกระบัง</td>
              <td class="px-4 py-2 text-center">400,000</td>
              <td class="px-4 py-2 text-center">400,000</td>
            </tr>
            <tr>
              <td class="px-4 py-2 text-left">มีนบุรี</td>
              <td class="px-4 py-2 text-center">450,000</td>
              <td class="px-4 py-2 text-center">400,000</td>
            </tr>
            <tr>
              <td class="px-4 py-2 text-left">คลองเตย</td>
              <td class="px-4 py-2 text-center">400,000</td>
              <td class="px-4 py-2 text-center">400,000</td>
            </tr>
            <tr>
              <td class="px-4 py-2 text-left">วัฒนา</td>
              <td class="px-4 py-2 text-center">450,000</td>
              <td class="px-4 py-2 text-center">400,000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="flex justify-start">
      <p class="text-2xl font-bold mb-5">Property Report</p>
      <div class=" w-auto h-full pl-5">
        <select class="select select-bordered w-auto max-w-xs" title="เลือกพื้นที่ที่ต้องการ">
          <option>แสดงเขตทั้งหมด</option>
          <option>เลขที่ x เขตลาดกระบัง กรุงเทพมหานคร</option>
          <option>เลขที่ yy เขตลาดกระบัง กรุงเทพมหานคร</option>
          <option>เลขที่ x เขตมีนบุรี กรุงเทพมหานคร</option>
          <option>เลขที่ x เขตคลองเตย กรุงเทพมหานคร</option>
          <option>เลขที่ x เขตวัฒนา กรุงเทพมหานคร</option>
        </select>
      </div>
    </div>
    <div class=" w-full flex flex-col gap-y-5">
      <div class="  w-full grid lg:grid-cols-2 grid-cols-1 gap-5">
        <div class="h-96 bg-white ">
          <div class="text-black h-14 text-xl font-semibold flex-center flex items-center justify-center">กราฟ</div>
        </div>
      </div>
    </div>


    <!-- Pinned Property   -->
    <div class="flex justify-start">
      <p class="text-2xl font-bold">Pinned Property</p>
    </div>
    <!-- <div class="dropdown" (click)="toggleDropdown()">
      Property Sale Detail
    </div> -->
    <!-- <div id="propertyDetail" class="dropdown-content"> -->
    <!-- <div id="propertyDetail" class="dropdown-content" *ngIf="isDropdownVisible"> -->
    <div class="bg-gray-100 p-6 rounded-lg">
      <ul>
        <li class="mb-4 flex justify-between items-center">

          <div>
            <div class="font-bold text-lg">ทรัพย์สิน</div>
            <div class="text-sm">รหัสสินทรัพย์: 08fec647-1657-4a0b-9e70-5b3f396dd8e9</div>
          </div>
          <button class="px-6 py-2 bg-blue-500 text-white rounded-lg" title="Expand details">
            <i class="fas fa-chevron-down"></i>
          </button>
        </li>
        <!-- Repeat the above li element for each item -->
        <li class="mb-4 flex justify-between items-center">
          <div>
            <div class="font-bold text-lg">ทรัพย์สิน 278</div>
            <div class="text-sm">รหัสสินทรัพย์: 08fec647-1657-4a0b-9e70-5b3f396dd8f0</div>
          </div>
          <button class="px-6 py-2 bg-blue-500 text-white rounded-lg " title="Expand details">
            <i class="fas fa-chevron-down"></i>
          </button>
        </li>
        <!-- Repeat for other items -->
        <li class="mb-4 flex justify-between items-center">
          <div>
            <div class="font-bold text-lg">ทรัพย์สิน 278</div>
            <div class="text-sm">รหัสสินทรัพย์: 08fec647-1657-4a0b-9e70-5b3f396dd8f1</div>
          </div>
          <button class="px-6 py-2 bg-blue-500 text-white rounded-lg" title="Expand details">
            <i class="fas fa-chevron-down"></i>
          </button>
        </li>
        <li class="mb-4 flex justify-between items-center">
          <div>
            <div class="font-bold text-lg">ทรัพย์สิน 278</div>
            <div class="text-sm">รหัสสินทรัพย์: 08fec647-1657-4a0b-9e70-5b3f396dd8f2</div>
          </div>
          <button class="px-6 py-2 bg-blue-500 text-white rounded-lg" title="Expand details">
            <i class="fas fa-chevron-down"></i>
          </button>
        </li>
        <li class="flex justify-between items-center">
          <div>
            <div class="font-bold text-lg">ทรัพย์สิน 278</div>
            <div class="text-sm">รหัสสินทรัพย์: 08fec647-1657-4a0b-9e70-5b3f396dd8f3</div>
          </div>
          <button class="px-6 py-2 bg-blue-500 text-white rounded-lg" title="Expand details">
            <i class="fas fa-chevron-down"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>


</div>
