<div class="w-full h-full bg-light-grey grid grid-cols-4 gap-1 items-center py-16">
  <div class="text-end col-span-2">
      <p>รายได้รวมต่อปี (บาท)</p>
  </div>
  <div class="col-span-2"><input class="w-1/2 rounded-full font-medium px-5" title="Loan Amount" placeholder="รายได้รวมต่อปี" /></div>
  <div class="text-end col-span-2">
      <p>ระยะเวลากู้</p>
  </div>
  <div class="col-span-2"><input class="w-1/2 rounded-full font-medium px-5" title="Loan Term 1" placeholder="ระยะเวลากู้" /></div>
  <div class="text-end col-span-2">
      <p>ระบุอัตราดอกเบี้ย (%)</p>
  </div>
  <div class="col-span-2"><input class="w-1/2 rounded-full font-medium px-5" title="Loan Term 2" placeholder="อัตราดอกเบี้ย" /></div>
  <div class="text-end col-span-2">
    <p>เปอร์เซ็นต์วงเงินกู้สูงสุดของรายได้ (%)</p>
</div>
<div class="col-span-2"><input class="w-1/2 rounded-full font-medium px-5" title="Loan Amount" placeholder="% วงเงินกู้สูงสุด" /></div>
<div class="text-end col-span-2">
  <p>ภาระหนี้สินต่อเดือน (บาท) </p>
</div>
<div class="col-span-2"><input class="w-1/2 rounded-full font-medium px-5" title="Loan Amount" placeholder="จำนวนหนี้สินต่อเดือน" /></div>
  <div class="col-span-2"></div>
  <div class="w-1/2 col-span-2">
      <div class="text-end"><button class="bg-dark-blue w-1/2 h-8 rounded-full  text-white  hover:bg-[gold] hover:text-black">คำนวณ</button></div>
  </div>
  <div class="text-end row-span-6">ผลลัพธ์</div>
  <div class="w-3/4 rounded-xl  px-5 bg-white row-span-6 h-full col-span-3 flex items-center justify-center">
    <div class="w-full h-auto">
      <div class="flex justify-between">
        <p>การชำระค่างวดสูงสุด:</p>
        <span class="text-red-500">561,452</span>
      </div>
      <div class="flex justify-between">
        <p>วงเงินกู้สูงสุด:</p>
        <span class="text-red-500">188,712</span>
      </div>
    </div>
  </div>
</div>
