<div class="h-full bg-babyBlue flex-center">
    <div class="h-[20rem] w-[40rem] bg-white">
        <form [formGroup]="resetPassword" class="w-full h-full flex flex-col justify-between p-5 items-center" (ngSubmit)="onSubmit()">
            <h1 class="text-center text-2xl font-bold text-darkBlue">รีเซ็ตรหัสผ่าน</h1>
            <p class="text-center text-sm text-grey">
              กรุณากรอกรหัสผ่านใหม่
            </p>
            <p *ngIf="!resetPassword.valid" class="text-darkRed">รหัสผ่านต้องมีความยาว 8 ตัวอักษรขึ้นไป มีตัวอักษรตัวใหญ่ ตัวเล็ก และตัวเลข อย่างน้อย 1 ตัว </p>
            <input class="input input-bordered w-9/12 bg-lightBlue" 
                   type="password" 
                   placeholder="รหัสผ่านใหม่" 
                   formControlName="newpassword">
            
            <div class="mt-6 flex gap-x-4 w-3/4">
              <button type="button" class="btn btn-sm h-10 flex-center bg-white text-grey w-full border-gray-400" routerLink="/Signin">
                <mat-icon fontIcon="arrow_back_ios"></mat-icon>ย้อนกลับ
              </button>
              <button type="submit" class="btn btn-sm h-10 flex-center bg-darkBlue text-white w-full" [disabled]="!resetPassword.valid">
                บันทึก <mat-icon fontIcon="arrow_forward_ios"></mat-icon>
              </button>
            </div>
          </form>
          
    </div>
</div>