<div class="px-4 pb-4">
  <div class="grid grid-cols-5 text-center gap-4 mt-4">
    <div class="bg-babyBlue p-4 rounded-lg">
      <h4 class="text-lg text-darkBlue font-bold">{{land.Price}}</h4>
      <p class="text-sm text-darkBlue">ราคาขายจริง</p>
    </div>
    <div class="bg-white p-4 rounded-lg">
      <h4 class="text-lg text-oceanBlue font-bold">1,954,975</h4>
      <p class="text-sm text-oceanBlue">ราคาเฉลี่ย</p>
    </div>
    <div class="bg-white p-4 rounded-lg">
      <h4 class="text-lg text-oceanBlue font-bold">{{land.EstimatePrice}}</h4>
      <p class="text-sm text-oceanBlue">ราคาประเมิน</p>
    </div>
    <div class="bg-white p-4 rounded-lg">
      <h4 class="text-lg text-oceanBlue font-bold">2,004,975</h4>
      <p class="text-sm text-oceanBlue">ราคาทำนาย</p>
    </div>
    <div class="bg-white p-4 rounded-lg">
      <h4 class="text-lg text-midGreen font-bold" [ngClass]="interestLevelColor">{{interestLevel}}</h4>
      <p class="text-sm text-oceanBlue">ความน่าสนใจ</p>
    </div>
  </div>

  <div class="p-6 rounded-md mt-4">
    <div class="gap-4 text-darkBlue">
      <div class="flex items-center pb-1">
        <p class="box">ราคาต่อหน่วย</p>
        <p class="pl-4">{{land.Price/land.Size}} / ตร.วา</p>
      </div>
      <div class="flex items-center pb-1">
        <p class="box">ที่ตั้ง</p>
        <span class="pl-4">{{land.LandTitle}} {{land.LocationName}} กรุงเทพมหานคร </span>
      </div>
      <div class="flex items-center pb-1">
        <p class="box">ขนาดพื้นที่</p>
        <span class="pl-4">{{land.Size}} ตร.วา</span>
      </div>
      <div class="flex items-center pb-1">
        <p class="box">สีพื้นที่</p>
        <div *ngIf="land.Land_CityColor" class="flex flex-row items-center pl-4">
          <div class="pl-1 w-4 h-4 rounded-full mr-2" [ngClass]="'bgc-' + land.Land_CityColor.toLowerCase()"></div>
          <span class="pl-1 " [ngClass]="'textc-' + land.Land_CityColor.toLowerCase()">
            {{land.Land_CityColor}}</span>
        </div>
        <div *ngIf="!land.Land_CityColor" class="text-black px-4">
          ไม่ทราบสีพื้นที่
        </div>
      </div>
      <div class="pb-1">
        <p class="box">รายละเอียด:</p>
        {{land.Description}}
      </div>

      <a [href]="'https://www.google.com/maps?q=' + land.Latitude + ',' + land.Longitude" target="_blank"
        class="text-xl font-bold underline">
        <!-- <img [src]="'https://staticmap.openstreetmap.de/staticmap.php?center=' + land.Latitude + ',' + land.Longitude + '&zoom=15&size=600x300&markers=' + land.Latitude + ',' + land.Longitude" /> -->
        ดูบน Google Maps

      </a>
      <div class="pb-1">
        <p class="box-auto">สถานที่สำคัญบริเวณใกล้เคียง</p>

      </div>
      <div class="grid grid-cols-2 gap-4 mt-4">
        <!-- <div class="bg-white p-4 rounded-md flex items-center">
          <img src="assets/icons/hospital-icon.png" alt="hospital icon" class="w-6 h-6 mr-2">
          <div>
            <p class="text-sm text-neutral-700">โรงพยาบาล</p>
            <p class="text-sm text-neutral-950 font-bold">2 กม.</p>
          </div>
        </div>
        <div class="bg-white p-4 rounded-md flex items-center">
          <img src="assets/icons/public-icon.png" alt="public icon" class="w-6 h-6 mr-2">
          <div>
            <p class="text-sm text-neutral-700">สาธารณะ</p>
            <p class="text-sm text-neutral-950 font-bold">5 กม.</p>
          </div>
        </div>
        <div class="bg-white p-4 rounded-md flex items-center">
          <img src="assets/icons/public-icon.png" alt="public icon" class="w-6 h-6 mr-2">
          <div>
            <p class="text-sm text-neutral-700">เซ็นทรัลลาดกระบัง</p>
            <p class="text-sm text-neutral-950 font-bold">8 กม.</p>
          </div>
        </div>
        <div class="bg-white p-4 rounded-md flex items-center">
          <img src="assets/icons/public-icon.png" alt="public icon" class="w-6 h-6 mr-2">
          <div>
            <p class="text-sm text-neutral-700">สถานีรถไฟ</p>
            <p class="text-sm text-neutral-950 font-bold">10 กม.</p>
          </div>
        </div> -->
        <div *ngFor="let place of nearbyPlaces" class="bg-white p-4 rounded-md flex items-center">
          <div class=" h-full flex items-center">
            <mat-icon  class="text-darkBlue w-10 h-10  flex-shrink-0 text-4xl" aria-hidden="false" aria-label="Example help icon" [fontIcon]="getIconName(place.PlaceType)" ></mat-icon>

          </div>
          <div>
            <p class="text-sm text-neutral-700">{{place.Name}}</p>
            <p class="text-sm text-neutral-950 font-bold">{{place.Distance}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>