<div class="p-6">
  <div class="bg-lightBlue rounded-3xl p-4 mb-6">

    <div class="flex justify-between items-center mb-4">
      <div class="flex items-center border rounded-md px-4 py-2 w-8/10 bg-white h-12">
        <svg class="w-5 h-5 text-grey mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-4.35-4.35m1.35-5.65a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
        <input type="text" placeholder="ค้นหา..." class="border-none outline-none w-full">
      </div>
      <button class="bg-midGreen text-white rounded-md px-4 py-2 flex justify-center items-center w-1/6 h-12">
        <img src="\assets\icons\blogplus.svg" alt="blog plus" class="w-6 h-6 mr-2">
        สร้าง Blog ใหม่
      </button>
    </div>

    <div class="mb-4 bg-white rounded-md shadow">
      <table class="w-full border-collapse table-fixed">
        <thead>
          <tr class="bg-white text-darkBlue">
            <th class="text-center py-2 px-4 w-[2%]">ลำดับ</th>
            <th class="text-center py-2 px-4 w-[10%] ">ID</th>
            <th class="text-center py-2 px-4 w-[55%]">หัวเรื่อง</th>
            <th class="text-center py-2 px-4 w-[20%]">เวลาสร้าง</th>
            <th class="text-center py-2 px-4 w-[7%]">แก้ไข</th>
            <th class="text-center py-2 px-4 w-[7%]">ลบ</th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="bg-white rounded-md shadow mb-4">
      <table class="w-full border-collapse table-fixed">
        <tbody>
          <tr class="text-center text-black">
            <details>
              <summary class="cursor-pointer truncate">
                <td class="py-4 px-4 w-[2%]">1</td>
                <td class="py-4 px-4 w-[10%] text-center">001</td>
                <td class="py-4 px-4 w-[55%] text-center">
                  หากผู้ขายไม่สามารถติดต่อได้ควรทำอย่างไร
                </td>
                <td class="py-4 px-4 w-[20%] truncate">2024-08-19 12:34:56</td>
                <td class="py-4 px-4 w-[7%]">
                  <button class="bg-yellow text-black rounded-md px-4 py-2">แก้ไข</button>
                </td>
                <td class="py-4 px-4 w-[7%]">
                  <button class="bg-brightRed text-white rounded-md px-4 py-2">ลบ</button>
                </td>
              </summary>
              <td class="py-4 px-4 w-[2%]"></td>
              <td class="py-4 px-4 w-[10%]">เนื้อหา</td>
              <td class="py-4 px-4 w-[55%] text-start">
                ท่านสามารถติดต่อสอบถามได้ที่ Contact หรือ ติดต่อสอบถามมาได้ที่อีเมลหรือเบอร์โทรศัพท์
                ของเราแล้วเราจะติดต่อกลับให้เร็วที่สุด ขอบคุณ </td>
              <td class="py-4 px-4 w-[20%] "></td>
              <td class="py-4 px-4 w-[7%]"></td>
              <td class="py-4 px-4 w-[7%]"></td>
            </details>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="bg-white rounded-md shadow mb-4">
      <table class="w-full border-collapse table-fixed">
        <tbody>
          <tr class="text-center text-black">
            <details>
              <summary class="cursor-pointer truncate">
                <td class="py-4 px-4 w-[2%]">2</td>
                <td class="py-4 px-4 w-[10%] text-center">002</td>
                <td class="py-4 px-4 w-[55%] text-center">
                  ระบบสมาชิกโดนตัดเงินจากบัญชีไปแล้ว แต่ไม่ได้รับยศสมาชิกทำอย่างไร?
                </td>
                <td class="py-4 px-4 w-[20%] truncate">2024-08-19 12:34:56</td>
                <td class="py-4 px-4 w-[7%]">
                  <button class="bg-yellow text-black rounded-md px-4 py-2">แก้ไข</button>
                </td>
                <td class="py-4 px-4 w-[7%]">
                  <button class="bg-brightRed text-white rounded-md px-4 py-2">ลบ</button>
                </td>
              </summary>
              <td class="py-4 px-4 w-[2%]"></td>
              <td class="py-4 px-4 w-[10%]">เนื้อหา</td>
              <td class="py-4 px-4 w-[55%] text-start">
                ท่านสามารถติดต่อสอบถามได้ที่ Contact หรือ ติดต่อสอบถามมาได้ที่อีเมลหรือเบอร์โทรศัพท์
                ของเราแล้วเราจะติดต่อกลับให้เร็วที่สุด ขอบคุณ </td>
              <td class="py-4 px-4 w-[20%] "></td>
              <td class="py-4 px-4 w-[7%]"></td>
              <td class="py-4 px-4 w-[7%]"></td>
            </details>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="bg-white rounded-md shadow mb-4">
      <table class="w-full border-collapse table-fixed">
        <tbody>
          <tr class="text-center text-black">
            <details>
              <summary class="cursor-pointer truncate">
                <td class="py-4 px-4 w-[2%]">3</td>
                <td class="py-4 px-4 w-[10%] text-center">003</td>
                <td class="py-4 px-4 w-[55%] text-center">
                  หากลืมรหัสผ่านควรทำอย่างไร
                </td>
                <td class="py-4 px-4 w-[20%] truncate">2024-08-19 12:34:56</td>
                <td class="py-4 px-4 w-[7%]">
                  <button class="bg-yellow text-black rounded-md px-4 py-2">แก้ไข</button>
                </td>
                <td class="py-4 px-4 w-[7%]">
                  <button class="bg-brightRed text-white rounded-md px-4 py-2">ลบ</button>
                </td>
              </summary>
              <td class="py-4 px-4 w-[2%]"></td>
              <td class="py-4 px-4 w-[10%]">เนื้อหา</td>
              <td class="py-4 px-4 w-[55%] text-start">
                ท่านสามารถติดต่อสอบถามได้ที่ Contact หรือ ติดต่อสอบถามมาได้ที่อีเมลหรือเบอร์โทรศัพท์
                ของเราแล้วเราจะติดต่อกลับให้เร็วที่สุด ขอบคุณ </td>
              <td class="py-4 px-4 w-[20%] "></td>
              <td class="py-4 px-4 w-[7%]"></td>
              <td class="py-4 px-4 w-[7%]"></td>
            </details>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="bg-white rounded-md shadow mb-4">
      <table class="w-full border-collapse table-fixed">
        <tbody>
          <tr class="text-center text-black">
            <details>
              <summary class="cursor-pointer truncate">
                <td class="py-4 px-4 w-[2%]">4</td>
                <td class="py-4 px-4 w-[10%] text-center">004</td>
                <td class="py-4 px-4 w-[55%] text-center">
                  การอัพเดทข้อมูลจะเป็นช่วงเวลาไหนบ้าง?
                </td>
                <td class="py-4 px-4 w-[20%] truncate">2024-08-19 12:34:56</td>
                <td class="py-4 px-4 w-[7%]">
                  <button class="bg-yellow text-black rounded-md px-4 py-2">แก้ไข</button>
                </td>
                <td class="py-4 px-4 w-[7%]">
                  <button class="bg-brightRed text-white rounded-md px-4 py-2">ลบ</button>
                </td>
              </summary>
              <td class="py-4 px-4 w-[2%]"></td>
              <td class="py-4 px-4 w-[10%]">เนื้อหา</td>
              <td class="py-4 px-4 w-[55%] text-start">
                ท่านสามารถติดต่อสอบถามได้ที่ Contact หรือ ติดต่อสอบถามมาได้ที่อีเมลหรือเบอร์โทรศัพท์
                ของเราแล้วเราจะติดต่อกลับให้เร็วที่สุด ขอบคุณ </td>
              <td class="py-4 px-4 w-[20%] "></td>
              <td class="py-4 px-4 w-[7%]"></td>
              <td class="py-4 px-4 w-[7%]"></td>
            </details>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
