<form *ngIf="!loading" class="h-nmax" [formGroup]="profileForm">
  <div class="bg">
    <div class="scrollable-content">
      <div class="profile-container ">
        <div class="left-flex">

          <div class="pt-4  border-8 border-white rounded-full">
            <img src="https://tools-api.webcrumbs.org/image-placeholder/120/120/avatars/1" alt="avatar"
              class="w-[240px] h-[240px] rounded-full object-contain" />
          </div>

          <div class="left-content">
            <div class="mt-4">
              <div class="grid gap-4 font-bold">
                <div class="bg-white p-3 rounded-md flex gap-2 items-center border border-light-grey">
                  <span class="material-symbols-outlined text-primary-500">
                    <img src="\assets\icons\pfp1_user.svg" alt="icon" class="w-6 h-6" />
                  </span>
                  <input type="text" placeholder="ชื่อผู้ใช้งาน" formControlName="username" >
                </div>
                <div class="bg-white p-3 rounded-md flex gap-2 items-center border border-light-grey">
                  <span class="material-symbols-outlined text-primary-500">
                    <img src="\assets\icons\pfp2_name.svg" alt="icon" class="w-6 h-6" />
                  </span> <input type="text" placeholder="ชื่อจริง" formControlName="firstName" >

                </div>
                <div class="bg-white p-3 rounded-md flex gap-2 items-center border border-light-grey">
                  <span class="material-symbols-outlined text-primary-500">
                    <img src="\assets\icons\pfp2_name.svg" alt="icon" class="w-6 h-6" />
                  </span> <input type="text" placeholder="นามสกุล" formControlName="lastName" >

                </div>
                <div class="bg-white p-3 rounded-md flex gap-2 items-center border border-light-grey" >
                  <span class="material-symbols-outlined text-primary-500">
                    <img src="\assets\icons\pfp3_sex.svg" alt="icon" class="w-6 h-6" />
                  </span> 
                  <select class="input-select w-full h-full" formControlName="gender" title="Gender"   
                  > 
                    <option class="w-9/12 h-10 bg-lightBlue">ชาย</option>
                    <option class="w-9/12 h-10 bg-lightBlue">หญิง</option>
                  </select>
                </div>
                <div class="bg-white p-3 rounded-md flex gap-2 items-center border border-light-grey">
                  <span class="material-symbols-outlined text-primary-500">
                    <img src="\assets\icons\pfp4_tel.svg" alt="icon" class="w-6 h-6" />
                  </span> <input type="text" placeholder="เบอร์โทร" formControlName="telephone" >
                </div>
                <div class="bg-white p-3 rounded-md flex gap-2 items-center border border-light-grey">
                  <span class="material-symbols-outlined text-primary-500">
                    <img src="\assets\icons\pfp5_mail.svg" alt="icon" class="w-6 h-6" />
                  </span> <input type="text" placeholder="อีเมล" formControlName="email" >
                </div>
                <div class="bg-white p-3 rounded-md flex gap-2 items-center border border-light-grey">
                  <span class="material-symbols-outlined text-primary-500">
                    <img src="\assets\icons\pfp6_calen.svg" alt="icon" class="w-6 h-6" />
                  </span> <input type="date" formControlName="birthDate" placeholder="วันเดือนปีเกิด" >
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="right-flex">

          <div class="right-content">
            <div class="space-y-2">
              <div class="box border-oceanBlue">
                <p class="box-text text-oceanBlue font-bold">Tier 1</p>
              </div>
              <p class="text-base text-oceanBlue">
                ชำระเงินแล้ว เมื่อวันที่ 23/4/2022 เวลา 3:50 PM
              </p>
            </div>
          </div>

          <!-- Edit/Save/Cancel Buttons -->

          <div class="mt-4 flex justify-end">
            <ng-container *ngIf="!sEditing">
              <button (click)="startEditing()" class="button bg-yellow text-white">
                <span class="">
                  <img src="\assets\icons\pencil.svg" alt="icon" class="w-6 h-6" />
                </span>
                <span>แก้ไขข้อมูล</span>
              </button>
            </ng-container>

            <ng-container *ngIf="sEditing">
              <button (click)="cancelEdit()" class="button2 bg-white text-grey border border-grey">
                <span class="">
                  <img src="\assets\icons\x cancel.svg" alt="icon" class="w-6 h-6" />
                </span>
                <span>ยกเลิก</span>
              </button>
              <button (click)="saveChanges()" class="button bg-midGreen text-white border">
                <span class="">
                  <img src="\assets\icons\save file.svg" alt="icon" class="w-6 h-6" />
                </span>
                <span>บันทึกข้อมูล</span>
              </button>
            </ng-container>
          </div>

          <div class="right-content2">
            <h2 class="text-primary-700 font-title text-lg font-bold">ข้อมูลที่สนใจ</h2>
            <div class="flex gap-4 mt-2">
              <button class="bg-white px-4 py-2 rounded-md text-gray-500">ที่ดินติดถนน</button>
              <button class="bg-white px-4 py-2 rounded-md text-gray-500">ที่ดินใกล้ตัวเมือง</button>
              <button class="bg-white px-4 py-2 rounded-md text-gray-500">ที่ดินภายในเขตอุตสาหกรรม</button>
            </div>
          </div>

          <div class="right-content2">
            <h2 class="text-primary-700 font-title text-lg font-bold">ข้อมูลติดต่อ</h2>
            <div class=" text-gray-500">

              <div class="grid grid-cols-2 gap-4">
                <div class="">
                  <label for="address" class="text-primary-500" >บ้านเลขที่</label>
                  <input id="address" class=" p-4 border rounded-md ml-2" rows="3" title="Address"
                    placeholder="Enter your address" defaultValue="173 / 103 หมู่ 4 หมู่บ้านบางปลารุ่งเรือง" formControlName ="home_number">
                </div>
                <div class="">
                  <label for="address" class="text-primary-500 " >ถนน</label>
                  <input id="address" class=" p-4 border rounded-md ml-2" rows="3" title="Address"
                    placeholder="Enter your address" defaultValue="173 / 103 หมู่ 4 หมู่บ้านบางปลารุ่งเรือง" formControlName ="alley">
                </div>
                <div *ngIf="Sub_district && Sub_district.length > 0" class="flex w-9/12 justify-center items-center">

                  <label for="sub_district" class=" input-label">ตำบล
                  </label>
                  <app-filterselect [label]="Sub_district" [myControl]="sub_districtControl" placeholder="ตำบล" />
                </div>
                <div *ngIf="District && District.length > 0" class="flex w-9/12 justify-center items-center">

                  <label for="district" class=" input-label">อำเภอ </label>
                  <app-filterselect [label]="District" [myControl]="districtControl" placeholder="อำเภอ" />
                </div>
                <div *ngIf="Province && Province.length > 0" class="flex w-9/12 justify-center items-center">

                  <label for="province" class=" input-label">จังหวัด</label>
                  <app-filterselect [label]="Province" [myControl]="provinceControl" placeholder="จังหวัด" />
                </div>
                <div *ngIf="Postcode && Postcode.length > 0" class="flex w-9/12 justify-center items-center">

                  <label for="postcode" class=" input-label">รหัสไปรษณีย์
                  </label>
                  <app-filterselect [label]="Postcode" [myControl]="postcodeControl" placeholder="รหัสไปรษณีย์" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer footer-center bg-darkBlue text-white start-0 bottom-0 h-10 flex-center fixed w-full">
    <div class="flex-center">
      <input type="checkbox" checked="checked" class="checkbox border border-white bg-white"
        title="Receive notifications via email" formControlName="notification" />
      <p>ต้องการรับการแจ้งเตือนผ่านทางเมล์</p>
    </div>
    <div class="flex-center">
      <input type="checkbox" checked="checked" class="checkbox border border-white bg-white"
        title="Receive notifications via email" formControlName="notiNews"/>
      <p>ต้องการรับข่าวสารผ่านทางเมล์</p>
    </div>
  </footer>

</form>

<div *ngIf="loading" class="bg-white w-full h-nmax flex-center">
  <span class="loading loading-spinner loading-lg text-darkBlue"></span>
</div>

