<div class="min-h-nmax relative">
    <app-map [coordinates]="coordinates">

    </app-map>
    <div *ngIf="loading" class=" bg-white min-h-nmax w-full flex-center absolute z-50">
        <span class="loading loading-spinner loading-lg text-dark-blue"></span>
    </div>
    <div class="h-full w-96 bg-white absolute right-0 z-10 flex flex-col items-center p-5 gap-2 text-dark-blue ">
        <div class="w-full search"   >
            <input placeholder="เลขที่/เขต/แขวง/จังหวัด........"
                class="input input-bordered w-full h-10  rounded-full placeholder-dark-blue"
                (keydown)="onKeyDown($event)" (input)="onInput($event)"  (focus)="onFocus()"   #searchInput/>
            <div class="bg-white z-40 h-44 overflow-y-scroll w-full pt-2"
                [ngClass]="{'block': isInputFocused, 'hidden': !isInputFocused}" #searchResults>
                <div class=" h-12 w-full truncate hover:bg-light-grey" *ngFor="let result of results"
                    (click)="changeCoord(result.lat, result.lon)">
                    <p>{{result.display_name}}</p>
                </div>
                <div class="w-full h-full flex-center" *ngIf = "results.length==0">
                    <div>Result not found</div>
                </div>
            </div>
        </div>

        <div class=" w-full flex flex-row gap-2">
            <select class="select select-bordered  max-w-xs rounded-full ">
                <option disabled selected>เลือกแสดงข้อมูลแผนที่</option>
                <option>Han Solo</option>
                <option>Greedo</option>
            </select>
            <select class="select select-bordered w-8 max-w-xs rounded-full flex-1 ">
                <option disabled selected>อื่นๆ</option>
                <option>Han Solo</option>
                <option>Greedo</option>
            </select>
        </div>
        <div class="flex flex-col gap-2 w-full overflow-y-scroll">
            <app-land-card class="w-full" *ngFor="let item of landList" [item]="item"></app-land-card>

        </div>
    </div>
</div>