<div class="min-h-nmax relative">
  <app-map [coordinates]="coordinates" [landList]="landList" [selectedMapLayer]="selectedMapLayer" (markerCoordOutput)="markerCoordUpdate($event)">

  </app-map>
  <dialog id="my_modal_4" class="modal">
    <div class="modal-box w-full max-w-5xl  m-0 p-0 min-h-screen overflow-y-scroll ">
      <div class="w-full h-24 overflow-clip flex-center"><img class="w-full "
          src="https://prod-mfp-imgsrv.tillitsdone.com/uploads/medium__2fb08de653.png" alt="">
      </div>
      <div class="modal-action flex flex-col m-6">
        <div class="border-b-2 py-5">
          <p class="text-grey date-text">ข้อมูลเมื่อวันที่ 11 Aug 2022 9:00 PM</p>
          <p class="font-semibold text-xl">ที่ดินเลขที่ 278</p>
          <p class="text-xs">รหัสอสังหาริมทรัพย์: 0190ecdf-6651-7aa2-90f0-5a47933a869f</p>
          <p class="text-xs">ที่ตั้ง : ถนนฉลองกรุง 8 เขตลาดกระบัง กรุงเทพ 10520</p>
        </div>
        <div class="border-b-2 py-5 font-medium">
          <p class="text-lg">ราคาขาย</p>
          <p class="text-lg">145,500</p>
          <div class="grid grid-cols-2 text-base text-black">
            <p>ราคาต่อตารางเมตร </p>
            <p>145,500</p>
            <p>ขนาดพื้นที่ </p>
            <p>87</p>
          </div>
        </div>
        <div class="border-b-2 py-5">
          <p class="text-lg">ราคาขาย</p>
          <div class="w-full h-50 overflow-clip flex-center"><img class="w-full "
              src="https://media.discordapp.net/attachments/1194525658190204940/1290936467413143583/image.png?ex=66fe45c6&is=66fcf446&hm=eb75071f13ef6519b06ca2a0b8ecc12c7f78b0d89fd8c35ff369282d584be9b8&=&format=webp&quality=lossless&width=1440&height=360"
              alt="">
          </div>
        </div>
        <div class="border-b-2 py-5">
          <p class="text-lg">สถานที่ใกล้เคียง</p>
          <div class="grid grid-cols-2 text-base text-black">

            <div class="flex flex-row">
              <div class="w-12 h-12 overflow-x-clip flex-center mx-5"><img class=" "
                  src="https://media.discordapp.net/attachments/1194525658190204940/1290938089845555202/image.png?ex=66fe4749&is=66fcf5c9&hm=21542cf19162d24c466126fd061d34339f0e893bc96da3928969cbadeed49e77&=&format=webp&quality=lossless&width=100&height=100"
                  alt="">
              </div>
              <div>
                <div class="font-semibold">สวนสาธารณะ</div>
                <div>2 กม.</div>
              </div>
            </div>
            <div class="flex flex-row">
              <div class="w-12 h-12 overflow-x-clip flex-center mx-5"><img class=" "
                  src="https://media.discordapp.net/attachments/1194525658190204940/1290938089845555202/image.png?ex=66fe4749&is=66fcf5c9&hm=21542cf19162d24c466126fd061d34339f0e893bc96da3928969cbadeed49e77&=&format=webp&quality=lossless&width=100&height=100"
                  alt="">
              </div>
              <div>
                <div class="font-semibold">สวนสาธารณะ</div>
                <div>2 กม.</div>
              </div>
            </div>
            <div class="flex flex-row">
              <div class="w-12 h-12 overflow-x-clip flex-center mx-5"><img class=" "
                  src="https://media.discordapp.net/attachments/1194525658190204940/1290938089845555202/image.png?ex=66fe4749&is=66fcf5c9&hm=21542cf19162d24c466126fd061d34339f0e893bc96da3928969cbadeed49e77&=&format=webp&quality=lossless&width=100&height=100"
                  alt="">
              </div>
              <div>
                <div class="font-semibold">สวนสาธารณะ</div>
                <div>2 กม.</div>
              </div>
            </div>
            <div class="flex flex-row">
              <div class="w-12 h-12 overflow-x-clip flex-center mx-5"><img class=" "
                  src="https://media.discordapp.net/attachments/1194525658190204940/1290938089845555202/image.png?ex=66fe4749&is=66fcf5c9&hm=21542cf19162d24c466126fd061d34339f0e893bc96da3928969cbadeed49e77&=&format=webp&quality=lossless&width=100&height=100"
                  alt="">
              </div>
              <div>
                <div class="font-semibold">สวนสาธารณะ</div>
                <div>2 กม.</div>
              </div>
            </div>
            <div class="flex flex-row">
              <div class="w-12 h-12 overflow-x-clip flex-center mx-5"><img class=" "
                  src="https://media.discordapp.net/attachments/1194525658190204940/1290938089845555202/image.png?ex=66fe4749&is=66fcf5c9&hm=21542cf19162d24c466126fd061d34339f0e893bc96da3928969cbadeed49e77&=&format=webp&quality=lossless&width=100&height=100"
                  alt="">
              </div>
              <div>
                <div class="font-semibold">สวนสาธารณะ</div>
                <div>2 กม.</div>
              </div>
            </div>
            <div class="flex flex-row">
              <div class="w-12 h-12 overflow-x-clip flex-center mx-5"><img class=" "
                  src="https://media.discordapp.net/attachments/1194525658190204940/1290938089845555202/image.png?ex=66fe4749&is=66fcf5c9&hm=21542cf19162d24c466126fd061d34339f0e893bc96da3928969cbadeed49e77&=&format=webp&quality=lossless&width=100&height=100"
                  alt="">
              </div>
              <div>
                <div class="font-semibold">สวนสาธารณะ</div>
                <div>2 กม.</div>
              </div>
            </div>
          </div>

        </div>
        <div class="border-b-2 py-5">
          <p class="text-lg">สถานที่ใกล้เคียง</p>
          <p class="text-black text-sm">-ที่ดิน ขนาด 10 ไร่ 110 ตารางวา<br>-หน้ากว้างติดถนน 80 ม. ยาวเลียบคลองธรรมชาติ
            186 ม. คลองเเล่นเรือได้<br>
            -ติดถนนจงถนอม-วัดต้นเชือก หมายเลข
            5014<br>-ใกล้มอเตอร์เวย์บางใหญ่-กาญจนบุรี<br>-ใกล้โครงการถนนนครอินทร์-ศาลายา<br>
            -ทางคู่ขนานลอยฟ้าถนนบรมราชชนนี<br>-ทางพิเศษประจิมรัถยา 15 ก.ม.</p>
        </div>
        <div class="p-5">
          <form method="dialog">
            <button class="btn">Close</button>
          </form>
        </div>
      </div>
    </div>
  </dialog>
  <div *ngIf="loading" class=" bg-white min-h-nmax w-full flex-center absolute z-50">
    <span class="loading loading-spinner loading-lg text-dark-blue"></span>
  </div>
  <div class="h-full w-1/4 bg-white absolute right-0 z-10 flex flex-col items-center p-5 gap-2 text-dark-blue ">
    <div class="w-full search">
      <input placeholder="เลขที่/เขต/แขวง/จังหวัด........"
        class="input input-bordered w-full h-10  rounded-full placeholder-dark-blue" (keydown)="onKeyDown($event)"
        (input)="onInput($event)" (foucs)="onFocus()" #searchInput />
      <div class="bg-white z-40 h-44 overflow-y-scroll w-full pt-2"
        [ngClass]="{'block/': isInputFocused, 'hidden': !isInputFocused}" #searchResults>
        <div class=" h-12 w-full truncate hover:bg-light-grey" *ngFor="let result of results"
          (click)="changeCoord(result.lat, result.lon)">
          <p>{{result.display_name}}</p>
        </div>
        <div class="w-full h-full flex-center" *ngIf="results.length==0">
          <div>Result not found</div>
        </div>
      </div>
    </div>

    <div class=" w-full flex flex-row gap-2">
      <details class="dropdown">
        <summary class="btn m-1 bg-white rounded-full text-dark-blue font-normal  select-bordered">เลือกแสดงข้อมูลแผนที่</summary>
        <ul class="menu dropdown-content bg-white">
          <li> <label for=""> <input type="radio" name="mapOption" value="osm" (change)="onMapOptionChange('osm')" checked/>


              <a>osm</a></label>
          </li>
          <li><label for=""> <input type="radio" name="mapOption" value="satellite" (change)="onMapOptionChange('satellite')" />


            <a>ภาพถ่ายดาวเทียม</a></label>
          </li>
        </ul>
      </details>
      <select class="select select-bordered w-8 max-w-xs rounded-full flex-1 ">
        <option disabled selected>อื่นๆ</option>
        <option>Han Solo</option>
        <option>Greedo</option>
      </select>
    </div>
    <div class="flex flex-col gap-2 w-full overflow-y-scroll">
      <app-land-card class="w-full" *ngFor="let item of sortedLandList" [item]="item" (click)="onCardClick(item)"
        onclick="my_modal_4.showModal()"></app-land-card>
    </div>
  </div>
</div>