<div class="min-h-nmax relative">
  <app-map [coordinates]="coordinates" [landList]="landList" [selectedMapLayer]="selectedMapLayer"
    (markerCoordOutput)="markerCoordUpdate($event)">
  </app-map>

  <dialog id="fullland_detail" class="modal">
    <div class="modal-box w-full max-w-5xl  m-0 p-0 min-h-screen overflow-y-scroll ">
      <div class="w-full h-[400px] overflow-clip flex-center">
        <div *ngIf="!loading" class="carousel-container">
          <button class="prev c-bth" (click)="prevSlide()">&#10094;</button>




          <ng-container *ngFor="let image of images" class="w-full h-full ">
            <div *ngIf="currentIndex === image.index" class=" w-full h-full flex justify-center items-center">
              <img [src]="image.blobUrl" class=" object-center" alt="Land Image">
            </div>

          </ng-container>


          <button class="next c-bth" (click)="nextSlide()">&#10095;</button>

        </div>
      </div>
      <div class="modal-action flex flex-col m-6">
        <div class="border-b-2 py-5 flex flex-row">
          <div>
            <p class="text-grey date-text">ข้อมูลเมื่อวันที่ 11 Aug 2022 9:00 PM</p>
            <p class="font-semibold text-xl">ที่ดินเลขที่ 278</p>
            <p class="text-xs">รหัสอสังหาริมทรัพย์: 0190ecdf-6651-7aa2-90f0-5a47933a869f</p>
            <p class="text-xs">ที่ตั้ง : ถนนฉลองกรุง 8 เขตลาดกระบัง กรุงเทพ 10520</p>
          </div>
          <div class="w-full flex justify-end">
            <button class=" border-grey border rounded-xl flex justify-center items-center p-1 followbutton h-1/3"
              (click)="onfollow()" *ngIf="!fowllowState; else nowfollow"> <span><svg xmlns="http://www.w3.org/2000/svg"
                  height="24px" viewBox="0 -960 960 960" width="24px" fill="#2749A3">
                  <path d="m640-480 80 80v80H520v240l-40 40-40-40v-240H240v-80l80-80v-280h-40v-80h400v80h-40v280Z" />
                </svg></span>
              <p>ติดตาม</p>

            </button>
            <ng-template #nowfollow><button
                class=" border-grey border rounded-xl flex justify-center items-center p-1 followbutton h-1/3"
                (click)="onfollow()">
                <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#2749A3">
                    <path d="m640-480 80 80v80H520v240l-40 40-40-40v-240H240v-80l80-80v-280h-40v-80h400v80h-40v280Z" />
                  </svg></span>
                <p>เลิกติดตาม</p>

              </button></ng-template>
          </div>
        </div>
        <div class="border-b-2 py-5 font-medium">
          <p class="text-lg text-darkBlue">ราคาขาย</p>
          <p class="text-lg">{{selectedLand?.Price}}</p>
          <div class="grid grid-cols-2 text-base text-black">
            <p>ราคาต่อตารางเมตร </p>
            <p>{{selectedLand?.Price/selectedLand?.Size*4}}</p>
            <p>ขนาดพื้นที่ </p>
            <p>{{selectedLand?.Size*4}}</p>
          </div>
        </div>
        <!-- <div class="border-b-2 py-5">
          <p class="text-lg">ราคาขาย</p>
          <div class="w-full h-50 overflow-clip flex-center"><img class="w-full "
              src="https://media.discordapp.net/attachments/1194525658190204940/1290936467413143583/image.png?ex=66fe45c6&is=66fcf446&hm=eb75071f13ef6519b06ca2a0b8ecc12c7f78b0d89fd8c35ff369282d584be9b8&=&format=webp&quality=lossless&width=1440&height=360"
              alt="">
          </div>
        </div> -->
        <div class="border-b-2 py-5">
          <p class="text-lg text-darkBlue">สถานที่ใกล้เคียง</p>
          <div *ngIf="nearbyPlaces !== []" class="grid grid-cols-2 text-base text-black" >


            <div *ngFor="let nearby of nearbyPlaces" class="flex flex-col col-span-1">
              <div class="font-semibold">{{nearby.Name}}</div>
              <div>{{nearby.Distance}} กม.</div>
            </div>

          </div>

          <div *ngIf="nearbyPlaces ===[]">
            <p>ไม่พบสถานที่ใกล้เคียง</p>
          </div>

        </div>
        <div class="border-b-2 py-5">
          <p class="text-lg text-darkBlue">รายละเอียดที่ดินเพิ่มเติม</p>
          <p class="text-black text-sm">{{
            selectedLand?.Description}}</p>
        </div>
        <div class="p-5">
          <form method="dialog">
            <button class="btn">Close</button>
          </form>
        </div>
      </div>
    </div>
  </dialog>

  <dialog id="fastsell_Confirm" class="modal">
    <div class="modal-box relative">
      <h3 class="text-lg font-bold text-gold"><mat-icon class="" aria-hidden="false" aria-label="Example help icon"
          fontIcon="flash_on" />&emsp; เปิดใช้งานการแสดงผลข้อมูลขายเร็ว!</h3>
      <button class="" onclick="fastsell_Confirm.close()"><mat-icon class="absolute top-4 right-4 text-black"
          aria-hidden="false" aria-label="Example help icon" fontIcon="close" /></button>
      <p class="py-4 text-grey">หลังจากเปิดใช้งาน ข้อมูลที่นำมาแสดงจะมีเพียง 60% ของข้อมูลทั้งหมด
        และเป็นข้อมูลที่มาจากเว็บไซต์ InterHome เท่านั้น</p>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn text-white bg-darkBlue" (click)="confirmFastSell()">ยืนยันเปิดใช้งาน</button>
          <button class="btn ml-7 text-black bg-white">ยกเลิก</button>
        </form>

      </div>
    </div>

  </dialog>

  <div *ngIf="loading" class=" bg-white min-h-nmax w-full flex-center absolute z-50">
    <span class="loading loading-spinner loading-lg text-darkBlue"></span>
  </div>


  <!-- mf -->
  <div class="p-1 absolute left-0 top-0 flex flex-col items-center z-50  ">
    <button
      class="min-h-28 bg-white first-letter:hover:shadow-md transition-shadow w-5 p-1 rounded-bl-lg rounded-tl-lg"
      title="Zoom In">
      <img src="assets\icons\ic-double-arrow.svg" class="w-8 h-8" alt="Zoom In Icon" />
    </button>
  </div>

  <div class="p-1 absolute left-8 top-0 flex flex-col items-start z-50">
    <div class="grid grid-cols-5 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-2">
      <div class="bg-white p-2 rounded w-40">
        <div class="flex justify-center text-darkBlue ">
          <span>คลองเตย</span>
        </div>
        <div class="flex justify-around bg-lighter-grey rounded p-1 text-oceanBlue border  border-white">
          <span>QoQ</span>
          <span class="text-red-500">↓ 20%</span>
        </div>
        <div class="flex justify-around bg-lighter-grey rounded p-1  text-oceanBlue border border-white">
          <span>YoY</span>
          <span class="text-green-500">↑ 20%</span>
        </div>
      </div>
      <div class="bg-white p-2 rounded">
        <div class="flex justify-center text-darkBlue ">
          <span>วัฒนา</span>
        </div>
        <div class="flex justify-around bg-lighter-grey rounded p-1 text-oceanBlue border border-white">
          <span>QoQ</span>
          <span class="text-red-500">↓ 20%</span>
        </div>
        <div class="flex justify-around bg-lighter-grey rounded p-1  text-oceanBlue border border-white">
          <span>YoY</span>
          <span class="text-green-500">↑ 20%</span>
        </div>
      </div>
      <div class="bg-white p-2 rounded">
        <div class="flex justify-center text-darkBlue ">
          <span>ลาดกระบัง</span>
        </div>
        <div class="flex justify-around bg-lighter-grey rounded p-1 text-oceanBlue border border-white">
          <span>QoQ</span>
          <span class="text-red-500">↓ 20%</span>
        </div>
        <div class="flex justify-around bg-lighter-grey rounded p-1  text-oceanBlue border border-white">
          <span>YoY</span>
          <span class="text-green-500">↑ 20%</span>
        </div>
      </div>
      <div class="bg-white p-2 rounded">
        <div class="flex justify-center text-darkBlue ">
          <span>มึนบุรี</span>
        </div>
        <div class="flex justify-around bg-lighter-grey rounded p-1 text-oceanBlue border border-white">
          <span>QoQ</span>
          <span class="text-red-500">↓ 20%</span>
        </div>
        <div class="flex justify-around bg-lighter-grey rounded p-1  text-oceanBlue border border-white">
          <span>YoY</span>
          <span class="text-green-500">↑ 20%</span>
        </div>
      </div>
      <button class="bg-white p-2 rounded shadow-sm hover:shadow-md transition-shadow">
        <div class="flex items-center justify-center gap-2 text-darkBlue">
          <span>Index Land</span>
        </div>
        <div class="flex items-center justify-center gap-2">
          <span> <img src="assets\icons\ic-graph.svg" class="w-12 h-12" alt="Zoom In Icon" />
          </span>
        </div>
        <div class="text-center text-midGrey text-xs">กดแสดงกราฟ</div>
      </button>
    </div>
  </div>
  <!-- mf -->

  <div
    class="h-full w-4/12 bg-white absolute right-0 z-10 flex flex-col items-center p-5 gap-2 text-darkBlue  landBar landbar-active min-w-[500px]"
    [ngClass]="{'translate-x-full':istoggleLandBar,'':!istoggleLandBar}">
    <div class="h-6 w-10 bg-white absolute left-0 top-12 -translate-x-full cursor-pointer flex"
      (click)="toggleLandBar()">
      <mat-icon class="text-ocean-blue opacity-50 " aria-hidden="false" aria-label="Example help icon" fontIcon="play_arrow
        "></mat-icon>
      <mat-icon class="text-ocean-blue   -translate-x-3" aria-hidden="false" aria-label="Example help icon"
        fontIcon="chevron_right"></mat-icon>
    </div>
    <div class="w-full search">
      <input placeholder="ค้นหา ชื่อ/เขต/แขวง/จังหวัด........"
        class="input input-bordered w-full h-10   placeholder-darkBlue" (keydown)="onKeyDown($event)"
        (input)="onInput($event)" (foucs)="onFocus()" #searchInput />
      <div class="bg-white z-40 h-44 overflow-y-scroll w-full pt-2"
        [ngClass]="{'block/': isInputFocused, 'hidden': !isInputFocused}" #searchResults>
        <div class=" h-12 w-full truncate hover:bg-light-grey" *ngFor="let result of results"
          (click)="changeCoord(result.lat, result.lon)">
          <p>{{result.display_name}}</p>
        </div>
        <div class="w-full h-full flex-center" *ngIf="results.length==0">
          <div>Result not found</div>
        </div>
      </div>
    </div>

    <div class=" w-full flex flex-row gap-2 ">
      <details class="dropdown w-1/2">
        <summary class="btn  bg-white  text-darkBlue font-normal  select-bordered m-0 w-full">เลือกแสดงข้อมูลแผนที่
        </summary>
        <ul class="menu dropdown-content bg-white">
          <li>
            <div><input id="osm" type="radio" name="mapOption" value="osm" (change)="onMapOptionChange('osm')"
                checked />


              <label for="osm">osm</label>
            </div>
          </li>
          <li>
            <div><input id="satellite" type="radio" name="mapOption" value="satellite"
                (change)="onMapOptionChange('satellite')" />


              <label for="satellite">ภาพถ่ายดาวเทียม</label>
            </div>
          </li>
          <li>
            <div><input id="colormap" type="radio" name="mapOption" value="colormap"
                (change)="onMapOptionChange('colormap')" />


              <label for="colormap">แผนที่สีผังเมือง</label>
            </div>
          </li>

        </ul>
      </details>
      <details class="dropdown  w-1/2">
        <summary class="btn  bg-white  text-darkBlue font-normal  select-bordered m-0 w-full ">ตั้งค่าแสดงรายการที่ดิน
        </summary>
        <div class="  m-0 p-5  dropdown-content w-11/12 bg-white ">
          <h4>ช่วงราคา(ล้าน)</h4>
          <form>
            <div class="flex justify-between text-sm">
              <input class="border border-grey text-grey m-0  w-2/5 text-xs text-center" matInput
                [value]="Priceslider.leftPrice/1000000" (keydown.enter)="leftPriceChange($event)"
                (keypress)="validateNumberInput($event)" />
              <div class="flex flex-center">
                <hr class="w-5 bg-grey h-1">
              </div>
              <input class="border border-grey text-grey m-0  w-2/5 text-xs text-center" matInput
                [value]="Priceslider.rightPrice/1000000" (keydown.enter)="rightPriceChange($event)"
                (keypress)="validateNumberInput($event)" />

            </div>
          </form>
          <div>
            <mat-slider [min]="Priceslider.minPrice" [max]="Priceslider.maxPrice" class="w-full  m-0 slider">
              <input [(ngModel)]="Priceslider.leftPrice" matSliderStartThumb (change)="handleSearch(this.searchValue)">
              <input [(ngModel)]="Priceslider.rightPrice" matSliderEndThumb (change)="handleSearch(this.searchValue)">
            </mat-slider>
          </div>

          <h4>ขนาดพื้นที่(ตารางวา)</h4>
          <form>
            <div class="flex justify-between text-sm">
              <input class="border border-grey text-grey m-0  w-2/5 text-xs text-center" matInput
                [value]="Areaslider.leftArea" (keydown.enter)="leftAreaChange($event)"
                (keypress)="validateNumberInput($event)" />
              <div class="flex flex-center">
                <hr class="w-5 bg-grey h-1">
              </div>
              <input class="border border-grey text-grey m-0  w-2/5 text-xs text-center" matInput
                [value]="Areaslider.rightArea" (keydown.enter)="rightAreaChange($event)"
                (keypress)="validateNumberInput($event)" />
            </div>
          </form>
          <div>
            <mat-slider [min]="Areaslider.minArea" [max]="Areaslider.maxArea" class="w-full  m-0 ">
              <input [(ngModel)]="Areaslider.leftArea" matSliderStartThumb (change)="handleSearch(this.searchValue)">
              <input [(ngModel)]="Areaslider.rightArea" matSliderEndThumb (change)="handleSearch(this.searchValue)">
            </mat-slider>
          </div>
          <div class="flex items-center">
            <h4>ข้อมูลขายเร็ว </h4> <mat-icon class="text-grey text-sm" aria-hidden="false"
              aria-label="Example help icon" fontIcon="help_outline"></mat-icon><input type="checkbox"
              class="toggle toggle-xs toggle-accent border-none  bg-white " value="fastsell" [checked]="fastsellState"
              (change)="onFastSellClick($event)" [id]="" />
            <p class="text-grey text-sm">เปิดใช้งาน</p>
          </div>


          <ul class=" bg-white text-grey p-0 w-fit">
            <li>
              <div><input id="lad" type="checkbox" class="radio w-4 h-4" name="area" />


                <label for="lad">เขตลาดกระบัง</label>
              </div>
            </li>
            <li>
              <div>
                <input id="min" type="checkbox" class="radio w-4 h-4" name="area" />


                <label for="min">เขตมีนบุรี</label>
              </div>
            </li>
            <li>
              <div><input id="khong" type="checkbox" class="radio w-4 h-4" name="area" />


                <label for="khong">เขตคลองเตย</label>
              </div>
            </li>
            <li>
              <div><input id="wat" type="checkbox" class="radio w-4 h-4" name="area" />


                <label for="wat">เขตวัฒนา</label>
              </div>
            </li>
          </ul>
        </div>
      </details>
    </div>
    <div class="flex justify-start w-full">
      <p *ngIf="fastsellState" class="font-bold text-yellow ">แสดงข้อมูลขายเร็ว</p>
    </div>

    <div class="flex flex-col gap-2 w-full overflow-y-scroll">
      <app-land-card class="w-full" *ngFor="let item of sortedLandList" [item]="item"
        (click)="onCardClick(item,$event) " (followChanged)="onFollowChanged($event)"></app-land-card>

    </div>

    <!-- <img [src]="image_URL"/> -->
    <!-- <div *ngIf="images.length > 0">
      <h2>Land Images</h2>
      <div *ngFor="let image of images">
        <p><b>Image ID:</b> {{ image.id }}</p>
        <p><b>MIME Type:</b> {{ image.mimeType }}</p>
        <p><b>File Path:</b> {{ image.filePath }}</p>
        <img *ngIf="image.blobUrl" [src]="image.blobUrl" [alt]="'Image ' + image.id" width="300">
      </div>
    </div> -->

  </div>
</div>

<div *ngIf="loading" class="bg-white w-full h-nmax flex-center">
  <span class="loading loading-spinner loading-lg text-darkBlue"></span>
</div>
