<div class="bg-black bg-opacity-50 fixed inset-0 flex justify-center items-center">
  <div
    class="absolute top-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-2xl shadow-lg w-[500px] h-[250px] flex flex-col items-center justify-center">
    <div class="h-15 w-15 pb-2">
      <img src="assets\icons\alert-circle.svg" alt="info" class="custom-icon-class" />
    </div>

    <div class="text-center text-darkBlue font-semibold mb-6">
      คุณต้องการจะลบ Blog นี้จริง ๆ ใช่หรือไม่
    </div>
    <div class="flex gap-4">
      <button class="bg-darkBlue text-white rounded-3xl px-6 py-2">
        ยืนยัน
      </button>
      <button class="bg-babyBlue text-darkBlue rounded-3xl px-6 py-2">
        ยกเลิก
      </button>
    </div>
    <button aria-label="Close" class="absolute top-2 right-4" (click)="closePopup()">
      <span class="w-[36px] h-[36px] text-darkBlue font-extrabold text-[32px]">x</span>
    </button>
  </div>
</div>
