<div class="w-full h-full bg-light-grey grid grid-cols-4 gap-1 items-center py-16">
  <div class="text-end col-span-2">
    <p>วงเงินที่ต้องการกู้</p>
  </div>
  <div class="col-span-2"><input class="w-1/2 rounded-full font-medium px-5" title="Loan Amount" placeholder="วงเงินที่ต้องการกู้" /></div>
  <div class="text-end col-span-2">
    <p>ระยะที่ต้องการผ่อนชำระ (ปี)</p>
  </div>
  <div class="col-span-2"><input class="w-1/2 rounded-full font-medium px-5" title="Loan Term 1" placeholder="ระยะที่ต้องการผ่อน" /></div>
  <div class="text-end col-span-2">
    <p>อัตราดอกเบี้ย (%)</p>
  </div>
  <div class="col-span-2"><input class="w-1/2 rounded-full font-medium px-5" title="Loan Term 2" placeholder="อัตราดอกเบี้ย" /></div>

  <div class="col-span-2"></div>
  <div class="w-1/2 col-span-2">
    <div class="text-end"><button
        class="bg-darkBlue w-1/2 h-8 rounded-full  text-white  hover:bg-[gold] hover:text-black">คำนวณ</button></div>
  </div>

  <div class="text-end row-span-3">ผลลัพธ์</div>
  <div class="w-3/4 rounded-xl  px-5 bg-white row-span-3 h-full col-span-3 flex items-center justify-center">
    <div class="w-full h-auto">
      <div class="flex justify-between">
        <p>ยอดผ่อนชำระต่อเดือน:</p>
        <span class="text-darkRed">561,452</span>
      </div>
      <div class="flex justify-between">
        <p>จำนวนดอกเบี้ยต่อเดือน:</p>
        <span class="text-darkRed">188,712</span>
      </div>
      <div class="flex justify-between">
        <p>จำนวนเงินต้น:</p>
        <span class="text-darkRed">1,322,740</span>
      </div>
    </div>
  </div>
</div>
