<div class="w-full h-full bg-light-grey p-8">
  <div class="max-w-4xl mx-auto">
    <div class="space-y-4 mb-8">
      <div class="flex items-center justify-between">
        <label class="text-darkBlue text-right min-w-[200px]">ยอดเงินที่ต้องการกู้ </label>

        <input type="number" [(ngModel)]="loanAmount" class="rounded-full px-6 py-3 flex-1 ml-4 focus:outline-none"
          value="" title="Loan Amount" placeholder="ยอดเงินที่ต้องการกู้ (บาท)" />

      </div>

      <div class="flex items-center justify-between">
        <label class="text-darkBlue text-right min-w-[200px]">
          ระยะเวลาที่ต้องการผ่อนชำระ
        </label>
        <input type="text" [(ngModel)]="installmentTerm" class="rounded-full px-6 py-3 flex-1 ml-4 focus:outline-none"
          value="" title="Installment Term" placeholder="ระยะที่ต้องการผ่อน (ปี)" />
      </div>

      <div class="flex items-center justify-between">
        <label class="text-darkBlue text-right min-w-[200px]">อัตราดอกเบี้ย</label>
        <input type="text" [(ngModel)]="interestRate" class="rounded-full px-6 py-3 flex-1 ml-4 focus:outline-none"
          value="" title="Interest Rate" placeholder="อัตราดอกเบี้ย (%)" />
      </div>
    </div>


    <div class="flex justify-center mb-8">
      <button class="py-2 px-12 bg-darkBlue text-white rounded-full hover:bg-yellow hover:text-black"
        (click)="calculate()">
        คำนวณ
      </button>
    </div>

    <div class="bg-white rounded-md p-6 shadow-sm">
      <h3 class="text-darkBlue font-semibold text-lg mb-4">ผลลัพธ์</h3>

      <div class="space-y-4">
        <div class="flex items-center justify-between border-b border-light-grey py-2">
          <span class="text-darkBlue font-medium">ยอดผ่อนชำระต่อเดือน (บาท)</span>
          <span class="text-darkRed font-medium">{{monthlyPayment}}</span>
        </div>

        <div class="flex items-center justify-between border-b border-light-grey py-2">
          <span class="text-darkBlue font-medium">จำนวนดอกเบี้ยต่อเดือน (บาท)</span>
          <span class="text-darkRed font-medium">{{monthInterest}}</span>
        </div>

        <div class="flex items-center justify-between border-b border-light-grey py-2">
          <span class="text-darkBlue font-medium">จำนวนดอกเบี้ยทั้งหมด (บาท)</span>
          <span class="text-darkRed font-medium">{{yearInterest}}</span>
        </div>

        <div class="flex items-center justify-between border-b border-light-grey py-2">
          <span class="text-darkBlue font-medium">ยอดรวมทั้งหมดที่ต้องชำระ (บาท)</span>
          <span class="text-darkRed font-medium">{{totalLoanWithInterest}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
