

<div class="w-full h-[550px] bg-light-grey grid grid-cols-2 gap-4 items-center p-5">
    <div class="text-end">
        <p>จำนวนเงินกู้</p>
    </div>
    <div><input class="w-1/2 rounded-full font-medium px-5" /></div>
    <div class="text-end">
        <p>อัตราดอกเบี้ย</p>
    </div>
    <div><input class="w-1/2 rounded-full font-medium px-5" /></div>
    <div class="text-end">
        <p>ระยะเวลาเงินกู้/ปี/เดือน</p>
    </div>
    <div><input class="w-1/2 rounded-full font-medium px-5" /></div>
    <div class="text-end">
        <p>การชำระเงินพิเศษต่อเดือน</p>
    </div>
    <div><input class="w-1/2 rounded-full font-medium px-5" /></div>
    <div class="text-end">
        <p>ภาษีทรัพย์สิน</p>
    </div>
    <div><input class="w-1/2 rounded-full font-medium px-5" /></div>
    <div class="text-end">
        <p>ประกันภัย</p>
    </div>
    <div><input class="w-1/2 rounded-full font-medium px-5" /></div>
    <div class="text-end">
        <p>ค่าธรรมเนียมอื่นๆ (HOA ฯลฯ)</p>
    </div>
    <div><input class="w-1/2 rounded-full font-medium px-5" /></div>
    <div class="text-end">
        <p>ดัชนีผู้จัดการฝ่ายจัดซื้อ (%)</p>
    </div>
    <div><input class="w-1/2 rounded-full font-medium px-5" /></div>
    <div class="text-end">
        <p>ราคาทรัพย์สิน</p>
    </div>
    <div><input class="w-1/2 rounded-full font-medium px-5" /></div>
    <div></div>
    <div class="w-1/2">
        <div class="text-end"><button class="bg-dark-blue w-1/2 h-8 rounded-full  text-white hover:bg-[gold] hover:text-black">คำนวณ</button></div>
    </div>
    <div class="text-end">ผลลัพธ์</div>
    <div class="w-1/2 rounded-xl font-medium px-5 bg-white row-span-2 h-full flex items-center justify-center text-sm">
        <div class="w-full">
            <div class="flex justify-between">
                <p>การออมดอกเบี้ย:</p>
                <p class="text-red-500">704,377.39</p>
            </div>
            <div class="flex justify-between">
                <p>การจ่ายเงินก่อนหน้า: </p>
                <p class="text-red-500"> 31 เดือน</p>
            </div>
    </div>
</div>