<div class="p-6">
  <div class="bg-light-blue rounded-3xl p-4 mb-6">

    <div class="mb-4 bg-white rounded-md shadow">
      <table class="w-full border-collapse table-fixed">
        <thead>
          <tr class="bg-white text-dark-blue">
            <th class="text-center py-2 px-4 w-[2%]">ลำดับ</th>
            <th class="text-center py-2 px-4 w-[15%]">ชื่อผู้ใช้</th>
            <th class="text-center py-2 px-4 w-[55%]">ข้อเสนอแนะ</th>
            <th class="text-center py-2 px-4 w-[20%]">เวลาส่ง</th>
            <th class="text-center py-2 px-4 w-[8%]">ลบ</th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="bg-white rounded-md shadow mb-4">
      <table class="w-full border-collapse table-fixed">
        <tbody>
          <tr class="text-center text-black">
            <td class="py-4 px-4 w-[2%]">1</td>
            <td class="py-4 px-4 w-[15%] truncate">tommy_lee</td>
            <td class="py-4 px-4 w-[55%] text-start">
              <details>
                <summary class="cursor-pointer truncate">
                  ควรพัฒนาช่องค้นหารายการที่ดิน ให้ดีกว่านี้ ยังไม่สามารถค้นหาที่ดินที่ต้องการได้ตรงใจ
                </summary>
              </details>
            </td>
            <td class="py-4 px-4 w-[20%] truncate">2024-08-19 12:34:56</td>
            <td class="py-4 px-4 w-[8%]">
              <button class="bg-red-500 text-white rounded-md px-4 py-2">ลบ</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="bg-white rounded-md shadow mb-4">
      <table class="w-full border-collapse table-fixed">
        <tbody>
          <tr class="text-center text-black">
            <td class="py-4 px-4 w-[2%]">2</td>
            <td class="py-4 px-4 w-[15%] truncate">anna_b</td>
            <td class="py-4 px-4 w-[55%] text-start">
              <details>
                <summary class="cursor-pointer truncate">
                  โอนเงินค่าสมัครสมาชิกแล้ว แต่ใช้เวลาอนุมัตินานเกินไปค่ะ </summary>
              </details>
            </td>
            <td class="py-4 px-4 w-[20%] truncate">2024-08-18 14:22:33</td>
            <td class="py-4 px-4 w-[8%]">
              <button class="bg-red-500 text-white rounded-md px-4 py-2">ลบ</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="bg-white rounded-md shadow">
      <table class="w-full border-collapse table-fixed">
        <tbody>
          <tr class="text-center text-black">
            <td class="py-4 px-4 w-[2%]">3</td>
            <td class="py-4 px-4 w-[15%] truncate">steve_rog</td>
            <td class="py-4 px-4 w-[55%] text-start">
              <details>
                <summary class="cursor-pointer truncate">
                  อยากให้มีแพ็คเกจให้เลือกมากกว่านี้ เพราะมีความสนใจดูที่ดินหลายที่
                  และอยากให้ช่วยเพิ่มขอบเขตความสามารถแต่ละ tier ขอบคุณคับบบบบ
                </summary>
              </details>
            </td>
            <td class="py-4 px-4 w-[20%] truncate">2024-08-18 14:23:43</td>
            <td class="py-4 px-4 w-[8%]">
              <button class="bg-red-500 text-white rounded-md px-4 py-2">ลบ</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
