<div class="grid w-full h-4/5">
  <!-- <div class="bg-dark-blue bg-cover bg-no-repeat" style="background-image: url('assets/imgs/bg_contact.png');"></div>
    <div class="bg-baby-blue"></div> -->
  <div class="absolute inset-x-0 flex items-center justify-center h-4/5 ">

    <div class="container bg-white h-auto w-full rounded-3xl px-10 py-10">
      <h1 class="text-dark-blue text-3xl font-bold font-LPPA row-span-1 text-center">ช่องทางการติดต่อ</h1>
      <p class="text-dark-blue font-LPPA text-sm text-center">เปิดให้บริการตั้งแต่ 9.00 น.- 18.00 น.
        ปิดทำการเฉพาะวันหยุดสุดสัปดาห์และวันหยุดนักขัตฤกษ</p>

      <div class=" grid grid-cols-1 md:grid-cols-2 gap-x-6 pt-5" style="overflow: auto;">
        <div class=" rounded-2xl mt-6 mb-6 ml-6 flex flex-col relative">
          <div class="">
            <p>อีเมล์</p>
          </div>
          <div class="bg-alice-blue  min-w-80 h-8 flex justify-center items-center">
            <app-svg-icon [iconName]="'email'" />
            <p class="text-lg text-dark-blue">Email</p>
          </div>

          <div class="">
            <p>เบอร์ติดต่อ</p>
          </div>
          <div class="bg-alice-blue min-w-80 h-8 flex justify-center items-center"> <app-svg-icon [iconName]="'tel'" />
            <p>Tel</p>
          </div>

          <div class="">
            <p>เพจ Facebook</p>
          </div>
          <div class="bg-alice-blue min-w-80 h-8 flex justify-center items-center"> <app-svg-icon
              [iconName]="'facebook'" />
            <p>Facebook</p>
          </div>
        </div>


        <div class=" rounded-r-3xl flex flex-col items-center gap-y-5 relative">
          <div class=" min-w-full h-48 ">
            <p class="text-grey font-semibold font-LPPA">ข้อเสนอแนะ</p>
            <textarea class="textarea w-full h-3/4 border-grey" placeholder="พิมข้อความของคุณได้ที่นี้!"></textarea>
            <div class="w-full flex justify-end">
              <button class="btn btn-sm bg-dark-blue text-white rounded-xl w-20">ส่ง</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
