
details[open] summary div svg {
  stroke: #F3C762 !important;
}

/* Mobile devices (portrait and landscape) */
@media (max-width: 768px) {
  details[open] summary div svg {
    stroke: #FF5733 !important;
  }
}

/* Tablets (portrait and landscape) */
@media (min-width: 769px) and (max-width: 1024px) {
  details[open] summary div svg {
    stroke: #33FF57 !important;
  }
}

/* Laptops and desktops */
@media (min-width: 1025px) and (max-width: 1440px) {
  details[open] summary div svg {
    stroke: #3357FF !important;
  }
}

/* Large screens */
@media (min-width: 1441px) {
  details[open] summary div svg {
    stroke: #7623F3 !important;
  }
}

/* New CSS rule for the navbar class */
.navbar {
  height: 2.5rem; /* Equivalent to h-10 */
  background-color: #307DA2; /* Equivalent to bg-dark-blue */
  position: sticky;
  top: 0;
  z-index: 50;
}
