<div class="w-full h-full bg-light-grey p-8">
  <div class="max-w-4xl mx-auto">
    <div class="space-y-4 mb-8">
      <div class="flex items-center justify-between">
        <label class="text-darkBlue text-right min-w-[200px]">ยอดเงินที่ต้องการกู้</label>
        <input type="text" [(ngModel)]="loanAmount" class="rounded-full px-6 py-3 flex-1 ml-4 focus:outline-none"
          value="" title="Loan Amount" placeholder="ยอดเงินที่ต้องการกู้ (บาท)" />
      </div>

      <div class="flex items-center justify-between gap-1">
        <label class="text-darkBlue text-right min-w-[200px]">
          ระยะเวลากู้ยืม 1
        </label>
        <input type="text" [(ngModel)]="loanTerm1" class="rounded-full px-6 py-3 flex-1 ml-4 focus:outline-none"
          value="" title="LoanTerm1" placeholder="ระยะเวลาที่ต้องการผ่อน 1 (ปี)" />

        <label class="text-darkBlue text-right pl-2">
          ดอกเบี้ย
        </label>
        <input type="text" [(ngModel)]="interest1" class="rounded-full px-6 py-3 flex-1  focus:outline-none" value=""
          title="interest1" placeholder="อัตราดอกเบี้ย 1 (%)" />
      </div>

      <div class="flex items-center justify-between">
        <label class="text-darkBlue text-right min-w-[200px]">ระยะเวลากู้ยืม 2</label>
        <input type="text" [(ngModel)]="loanTerm2"
          class="border rounded-full px-6 py-3 flex-1 ml-4 focus:outline-none focus:ring-2 focus:ring-[#2980b9]"
          value="" title="loanTerm2" placeholder="ระยะเวลาที่ต้องการผ่อน 2 (ปี)" />

        <label class="text-darkBlue text-right pl-2">
          ดอกเบี้ย
        </label>
        <input type="text" [(ngModel)]="interest2" class="rounded-full px-6 py-3 flex-1  focus:outline-none" value=""
          title="interest2" placeholder="อัตราดอกเบี้ย 2 (%)" />
      </div>
    </div>


    <div class="flex justify-center mb-8">
      <button class="py-2 px-12 bg-darkBlue text-white rounded-full hover:bg-yellow hover:text-black"
        (click)="calculate()">
        คำนวณ
      </button>
    </div>


    <div class="bg-white rounded-md p-6 shadow-sm">
      <h3 class="text-darkBlue font-semibold text-lg mb-4">ผลลัพธ์</h3>

      <div class="overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr>
              <th class="px-4 py-2 text-left"></th>
              <th class="px-4 py-2 text-right text-darkBlue">ระยะเวลากู้ยืม 1</th>
              <th class="px-4 py-2 text-right text-darkBlue">ระยะเวลากู้ยืม 2</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b border-light-grey">
              <td class="px-4 py-3 text-darkBlue">ยอดผ่อนชำระต่อเดือน (บาท)</td>
              <td class="px-4 py-3 text-right text-darkRed font-medium">{{monthlyPayment1 | number:'1.2-2'}}</td>
              <td class="px-4 py-3 text-right text-darkRed font-medium">{{monthlyPayment2 | number:'1.2-2'}}</td>
            </tr>
            <tr class="border-b border-light-grey">
              <td class="px-4 py-3 text-darkBlue">จำนวนดอกเบี้ยต่อเดือน (บาท)</td>
              <td class="px-4 py-3 text-right text-darkRed">{{monthInterest1 | number:'1.2-2'}}</td>
              <td class="px-4 py-3 text-right text-darkRed">{{monthInterest2 | number:'1.2-2'}}</td>
            </tr>
            <tr class="border-b border-light-grey">
              <td class="px-4 py-3 text-darkBlue">จำนวนดอกเบี้ยทั้งหมด (บาท)</td>
              <td class="px-4 py-3 text-right text-darkRed">{{totalInterest1 | number:'1.2-2'}}</td>
              <td class="px-4 py-3 text-right text-darkRed">{{totalInterest2 | number:'1.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
