<div class="h-52 w-full rounded-2xl grid grid-cols-2 overflow-clip border border-grey" >
  <div class="w-full h-full"><img class="w-full h-full"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhjfIax41C7jv5Ln0OTl2-D_-Ss07ghDpGyA&s" alt="">
  </div>
  <div class="p-3 flex flex-col justify-between text-sm">
    <div>
      <p class="text-lg font-semibold">ชื่อ</p>
      <p> ขนาดพื้นที่ {{item?.size}} ตร.ม. </p>
      <p>{{item?.location}}</p>

    </div>
    <div class="flex justify-between w-full">
      <p class="w-full">ราคาขาย </p>
      <p>{{item?.pricePerWar}}</p>
    </div>
  </div>
</div>