<div class="w-full h-full bg-light-grey grid grid-cols-4 gap-1 items-center py-16">
  <div class="text-end col-span-2">
    <p>จำนวนเงิน</p>
  </div>
  <div class="col-span-2"><input class="w-1/2 rounded-full font-medium px-5" title="Loan Amount"
      placeholder="Enter loan amount" /></div>
  <div class="text-end col-span-2">
    <p>ระยะเวลากู้ยืม 1</p>
  </div>
  <div class="col-span-2"><input class="w-1/2 rounded-full font-medium px-5" title="Loan Term 1"
      placeholder="Enter loan term 1" /></div>
  <div class="text-end col-span-2">
    <p>ระยะเวลากู้ยืม 2</p>
  </div>
  <div class="col-span-2"><input class="w-1/2 rounded-full font-medium px-5" title="Loan Term 2"
      placeholder="Enter loan term 2" /></div>

  <div class="col-span-2"></div>
  <div class="w-1/2 col-span-2">
    <div class="text-end"><button
        class="bg-dark-blue w-1/2 h-8 rounded-full  text-white  hover:bg-[gold] hover:text-black">คำนวณ</button></div>
  </div>
  <div class="text-end">ผลลัพธ์</div>
  <div class="w-2/3 rounded-xl font-medium px-5 bg-white row-span-6 h-full col-span-3 grid grid-cols-3 text-sm">
    <div></div>
    <div>ระยะเวลากู้ยืม 1</div>
    <div>ระยะเวลากู้ยืม 2</div>
    <div>การชำระเงินรายเดือน:</div>
    <div class="text-darkRed">166,666.67</div>
    <div class="text-darkRed">83,333.33</div>
    <div>การชำระเงินทั้งหมด:</div>
    <div class="text-darkRed">10.000,000,00</div>
    <div class="text-darkRed">10,000,000.00</div>
    <div>ดอกเบี้ยทั้งหมด:</div>
    <div class="text-darkRed">0.00</div>
    <div class="text-darkRed">0.00</div>
    <div>การชำระเงินรายปี:</div>
    <div class="text-darkRed">2,000,000,0</div>
    <div class="text-darkRed">999,999.96</div>
  </div>
</div>
