<div class="bg">
  <div class="scrollable-content pt-14">

    <div class="pl-20 ">

      <div class="h-36 flex flex-col justify-end text-dark-blue font-LPPA text-left font-bold">
        <h1 class="text-5xl">LPPM</h1>
        <p class="text-4xl">Land Price Prediction and Monitoring</p>
      </div>

      <div class="container">
        <div class="guide-box">
          <a href="#content" class="guid-link">แนะนำเมนูหลัก</a>
        </div>
        <div class="guide-box">
          <a href="#content" class="guid-link">ฟีเจอร์อื่น ๆ</a>
        </div>
        <div class="guide-box">
          <a href="#content" class="guid-link">ที่มาโครงงาน</a>
        </div>
        <div class="guide-box">
          <a href="#content" class="guid-link">ทีมผู้พัฒนา</a>
        </div>
        <div class="guide-box">
          <a href="#content" class="guid-link">แพ็คเกจสมาชิก</a>
        </div>
      </div>

      <div class="container">
        <div class="box">
          <div class="left-content">
            <div class="icon-container">
              <img src="assets/icons/map.svg" alt="Map" class="icon">
              <p class="icon-text"> แผนที่ </p>
            </div>
            <p>
              <li>แนะนำสถานที่ยอดนิยม</li>
              <li>ค้นหาที่ดินที่สนใจ</li>
              <li>ปักหมุดที่ดินที่ต้องการ</li>
              <li>ตรวจสอบสถานที่ใกล้เคียง</li>
            </p>
          </div>
          <div class="right-content">
            <div>
              <img class="h-64 w-auto" src="assets/imgs/map.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="box">
          <div class="left-content">
            <div class="icon-container">
              <img class="h-8 w-8" src="assets\icons\dashboard.svg" alt="Dashboard" />
              <p class="icon-text"> แดชบอร์ด </p>
            </div>
            <p>
              <li>วิเคราะห์ข้อมูลที่ดิน</li>
              <li>เปรียบเทียบราคา</li>
              <li>คาดการณ์ราคาที่ดิน</li>
            </p>
          </div>
          <div class="right-content">
            <div>
              <img class="h-full w-auto" src="assets\imgs\dashboard (2).png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="box">
          <div class="left-content">
            <div class="icon-container">
              <img class="h-8 w-8" src="assets\icons\blog.svg" alt="Blog" />
              <p class="icon-text"> บล็อก </p>
            </div>
            <p>
              <li>ข่าวสารที่เกี่ยวของ</li>
              <li>คำถามยอดนิยมจากผู้ใช้งาน</li>
              <li>ส่งข้อสอบถาม-ข้อเสนอแนะ</li>
            </p>
          </div>
          <div class="right-content">
            <div>
              <img class="h-full w-auto" src="" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="box">
          <div class="left-content">
            <div class="icon-container">
              <img class="h-8 w-8" src="assets\icons\calculator.svg" alt="calculator" />
              <p class="icon-text"> เครื่องคิดเลข </p>
              <p class="text-description"> ตัวช่วยคำนวณค่าใช้จ่าย/สินเชื่อที่ดินประเภทต่าง ๆ </p>
            </div>
          </div>
          <div class="left-content">
            <div class="icon-container">
              <img class="h-8 w-8" src="assets\icons\blog.svg" alt="Blog" />
              <p class="icon-text"> ติดต่อเรา </p>
              <p class="text-description"> สามารถติดต่อเราเมื่อพบปัญหาการใช้งาน/มีข้อซักถาม </p>
            </div>
          </div>
          <div class="left-content">
            <div class="icon-container">
              <img class="h-8 w-8" src="assets\icons\blog.svg" alt="Blog" />
              <p class="icon-text"> คู่มือการใช้งาน </p>
              <p class="text-description"> เอกสารการใช้งานเว็บไซต์อย่างละเอียด </p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
