<div class="bg">
  <div class="scrollable-content pt-14">

    <div class="pl-20 ">

      <div class="h-36 flex flex-col justify-end text-dark-blue font-LPPA text-left font-bold">
        <h1 class="text-5xl">LPPM</h1>
        <p class="text-4xl">Land Price Prediction and Monitoring</p>
      </div>

      <div class="container">
        <div class="guide-box">
          <a href="#content" class="guid-link">แนะนำเมนูหลัก</a>
        </div>
        <div class="guide-box">
          <a href="#content" class="guid-link">ฟีเจอร์อื่น ๆ</a>
        </div>
        <div class="guide-box">
          <a href="#content" class="guid-link">ที่มาโครงงาน</a>
        </div>
        <div class="guide-box">
          <a href="#content" class="guid-link">ทีมผู้พัฒนา</a>
        </div>
        <div class="guide-box">
          <a href="#content" class="guid-link">แพ็คเกจสมาชิก</a>
        </div>
      </div>

      <div class="container">
        <div class="box">

          <div class="left-content">

            <div class="icon-container">
              <!-- <img src="assets/icons/map.svg" alt="Map" class="icon"> -->
              <div class="icon">
                <svg viewBox="0 0 22 22" fill="var(--darkBlue)" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M11.0007 1.83325C15.3218 1.83325 17.4824 1.83325 18.8244 3.17525C19.2864 3.63725 19.5898 4.19642 19.7887 4.90684L4.90757 19.788C4.19715 19.5891 3.63798 19.2857 3.17598 18.8237C1.83398 17.4826 1.83398 15.3211 1.83398 10.9999C1.83398 6.67875 1.83398 4.51817 3.17598 3.17525C4.51982 1.83325 6.67948 1.83325 11.0007 1.83325ZM5.04232 8.02717C5.04232 9.66342 6.06623 11.5728 7.66398 12.2558C8.03615 12.4143 8.46515 12.4143 8.83732 12.2558C10.4351 11.5728 11.459 9.66342 11.459 8.02717C11.459 6.37809 10.0226 5.04159 8.25065 5.04159C6.47873 5.04159 5.04232 6.37809 5.04232 8.02717Z"
                    fill="var(--darkBlue)" />
                  <path
                    d="M9.625 8.25C9.625 8.61467 9.48013 8.96441 9.22227 9.22227C8.96441 9.48013 8.61467 9.625 8.25 9.625C7.88533 9.625 7.53559 9.48013 7.27773 9.22227C7.01987 8.96441 6.875 8.61467 6.875 8.25C6.875 7.88533 7.01987 7.53559 7.27773 7.27773C7.53559 7.01987 7.88533 6.875 8.25 6.875C8.61467 6.875 8.96441 7.01987 9.22227 7.27773C9.48013 7.53559 9.625 7.88533 9.625 8.25Z"
                    fill="var(--darkBlue)" />
                  <path opacity="0.5"
                    d="M20.0666 6.57422C20.1675 7.73014 20.1675 9.17205 20.1675 10.9999C20.1675 14.7894 20.1675 16.917 19.2627 18.2883L13.8058 12.8332L20.0666 6.57422ZM18.2901 19.2609L12.8351 13.8058L6.57422 20.0648C7.73105 20.1666 9.17297 20.1666 11.0017 20.1666C14.7912 20.1666 16.9188 20.1666 18.2901 19.2609Z"
                    fill="var(--darkBlue)" />
                </svg>
              </div>
              <p class="icon-text"> แผนที่ </p>
            </div>


          </div>
          <div class="mid-content">

            <p>
              <li>แนะนำสถานที่ยอดนิยม</li>
              <li>ค้นหาที่ดินที่สนใจ</li>
              <li>ปักหมุดที่ดินที่ต้องการ</li>
              <li>ตรวจสอบสถานที่ใกล้เคียง</li>
            </p>

          </div>
          <div class="right-content">
            <div>
              <img class="h-72 w-auto rounded-lg" src="assets/imgs/map.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="box">
          <div class="left-content">

            <div class="icon-container">
              <!-- <img class="h-8 w-8" src="assets\icons\dashboard.svg" alt="Dashboard" /> -->
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 22" fill="none" class="stroke-white"
                  routerLinkActive="stroke-yellow">
                  <path opacity="0.32"
                    d="M19.5219 15.5561C19.2618 16.1567 18.6434 16.5 17.989 16.5H13.6869C13.7151 16.4216 13.7401 16.3413 13.7617 16.2592C14.0128 15.306 13.7484 14.3358 13.1424 13.655C13.3661 11.8334 13.5057 9.96716 13.591 8.49306C13.6333 7.7617 12.7373 7.51741 12.4146 8.17232C11.7641 9.49232 10.968 11.1795 10.2666 12.8709C9.40726 13.1522 8.70152 13.8579 8.45049 14.8111C8.29784 15.3908 8.33579 15.9767 8.52526 16.5H4.22324C3.56881 16.5 2.95043 16.1567 2.69036 15.5561C2.20723 14.4405 1.93945 13.2099 1.93945 11.9167C1.93945 6.85405 6.04351 2.75 11.1061 2.75C16.1687 2.75 20.2728 6.85405 20.2728 11.9167C20.2728 13.2099 20.005 14.4405 19.5219 15.5561Z"
                    fill="var(--darkBlue)" />
                  <path
                    d="M13.5903 8.4929C13.6326 7.76154 12.7366 7.51725 12.4139 8.17216C11.7635 9.49216 10.9673 11.1793 10.2659 12.8708C9.40661 13.152 8.70087 13.8577 8.44984 14.8109C8.05682 16.3033 8.92724 17.8373 10.3939 18.2372C11.8606 18.6371 13.3681 17.7514 13.7611 16.259C14.0121 15.3058 13.7477 14.3356 13.1417 13.6548C13.3654 11.8332 13.505 9.96699 13.5903 8.4929Z"
                    fill="var(--darkBlue)" />
                  <g>
                    <title>Layer 1</title>
                    <path stroke="null" id="svg_1" />
                  </g>
                </svg>
              </div>
              <p class="icon-text"> แดชบอร์ด </p>
            </div>
          </div>
          <div class="mid-content">
            <p>
              <li>วิเคราะห์ข้อมูลที่ดิน</li>
              <li>เปรียบเทียบราคา</li>
              <li>คาดการณ์ราคาที่ดิน</li>
            </p>
          </div>

          <div class="right-content">
            <div>
              <img class="h-72 w-auto rounded-lg" src="assets\imgs\dashboard (2).png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="box">
          <div class="left-content">

            <div class="icon-container">
              <!-- <img class="h-8 w-8" src="assets\icons\blog.svg" alt="Blog" /> -->
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 23 22">
                  <g opacity="0.32">
                    <path
                      d="M19.3561 7.33333H12.0228C11.7797 7.33333 11.5465 7.23676 11.3746 7.06485C11.2027 6.89294 11.1061 6.65978 11.1061 6.41667C11.1061 6.17355 11.2027 5.94039 11.3746 5.76849C11.5465 5.59658 11.7797 5.5 12.0228 5.5H19.3561C19.5992 5.5 19.8324 5.59658 20.0043 5.76849C20.1762 5.94039 20.2728 6.17355 20.2728 6.41667C20.2728 6.65978 20.1762 6.89294 20.0043 7.06485C19.8324 7.23676 19.5992 7.33333 19.3561 7.33333ZM19.3561 11H12.0228C11.7797 11 11.5465 10.9034 11.3746 10.7315C11.2027 10.5596 11.1061 10.3264 11.1061 10.0833C11.1061 9.84022 11.2027 9.60706 11.3746 9.43515C11.5465 9.26324 11.7797 9.16667 12.0228 9.16667H19.3561C19.5992 9.16667 19.8324 9.26324 20.0043 9.43515C20.1762 9.60706 20.2728 9.84022 20.2728 10.0833C20.2728 10.3264 20.1762 10.5596 20.0043 10.7315C19.8324 10.9034 19.5992 11 19.3561 11Z"
                      fill="var(--darkBlue)" />
                    <path
                      d="M19.3561 14.6667H2.85612C2.613 14.6667 2.37985 14.5701 2.20794 14.3982C2.03603 14.2263 1.93945 13.9931 1.93945 13.75C1.93945 13.5069 2.03603 13.2737 2.20794 13.1018C2.37985 12.9299 2.613 12.8333 2.85612 12.8333H19.3561C19.5992 12.8333 19.8324 12.9299 20.0043 13.1018C20.1762 13.2737 20.2728 13.5069 20.2728 13.75C20.2728 13.9931 20.1762 14.2263 20.0043 14.3982C19.8324 14.5701 19.5992 14.6667 19.3561 14.6667ZM12.0228 18.3333H2.85612C2.613 18.3333 2.37985 18.2368 2.20794 18.0648C2.03603 17.8929 1.93945 17.6598 1.93945 17.4167C1.93945 17.1736 2.03603 16.9404 2.20794 16.7685C2.37985 16.5966 2.613 16.5 2.85612 16.5H12.0228C12.2659 16.5 12.4991 16.5966 12.671 16.7685C12.8429 16.9404 12.9395 17.1736 12.9395 17.4167C12.9395 17.6598 12.8429 17.8929 12.671 18.0648C12.4991 18.2368 12.2659 18.3333 12.0228 18.3333Z"
                      fill="var(--darkBlue)" />
                  </g>
                  <rect x="1.93945" y="3.6665" width="7.33333" height="7.33333" rx="2" fill="var(--darkBlue)" />
                </svg>
              </div>
              <p class="icon-text"> บล็อก </p>
            </div>
          </div>

          <div class="mid-content">
            <p>
              <li>ข่าวสารที่เกี่ยวของ</li>
              <li>คำถามยอดนิยมจากผู้ใช้งาน</li>
              <li>ส่งข้อสอบถาม-ข้อเสนอแนะ</li>
            </p>
          </div>

          <div class="right-content">
            <div>
              <img class="h-72 w-auto rounded-lg" src="assets\imgs\FAQ.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="box">
          <div class="left-content">
            <div class="icon-container">
              <img class="icon" src="assets\icons\calculator.svg" alt="calculator" />
              <p class="icon-text"> เครื่องคิดเลข </p>
              <p class="text-description"> ตัวช่วยคำนวณค่าใช้จ่าย/สินเชื่อที่ดินประเภทต่าง ๆ </p>
            </div>
          </div>
          <div class="left-content">
            <div class="icon-container">
              <img class="icon" src="assets\icons\ic-chat.svg" alt="Blog" />
              <p class="icon-text"> ติดต่อเรา </p>
              <p class="text-description"> สามารถติดต่อเราเมื่อพบปัญหาการใช้งาน/มีข้อซักถาม </p>
            </div>
          </div>
          <div class="left-content">
            <div class="icon-container">
              <img class="icon" src="assets\icons\ic-pdf.svg" alt="Blog" />
              <p class="icon-text"> คู่มือการใช้งาน </p>
              <p class="text-description"> เอกสารการใช้งานเว็บไซต์อย่างละเอียด </p>
            </div>
          </div>

        </div>
      </div>

      <div class="h-36 flex flex-col justify-center text-dark-blue font-LPPA text-center font-bold">
        <h1 class="text-5xl ">LPPM</h1>
      </div>
      <div class="  w-full flex flex-col gap-y-5">
        <div class="  w-full grid lg:grid-cols-2 grid-cols-1 gap-5">
          <div class="h-auto ">
            <div class=" text-dark-blue h-14 text-xl font-semibold flex-center">Land Price Prediction and
              Monitoring</div>
            <p class="text-dark-blue">เว็บไซต์เพื่อช่วยการทำนายและติดตามราคาที่ดิน ที่เกิดจาก
              ปัญหาในการตัดสินใจซื้อที่ดินจริงซึ่งต้องใช้ข้อมูลที่เยอะและ
              หายากเกินไป
              โดยการใช้เทคโนโลยี Machine Learning เข้ามาช่วยการ
              ทำนายราคา โดยอิงจากราคาการซื้อขายที่ดินจริงเพื่อให้ได้
              ผลการทำนายที่แม่นยำ</p>
          </div>
          <div class="h-auto w-auto">
            <img class="h-full w-auto" src="assets/imgs/map.png" alt="" />
          </div>
        </div>
      </div>

      <div class=" text-dark-blue h-14 text-xl font-semibold">จัดทำโดย</div>
      <div class=" text-dark-blue ">
        <p class="text-xl">64010052 กิตติกรณ์ อำภัยรัตน์</p>
        <p class="text-xl">64010247 ณัฐพล เนื้อเย็น</p>
        <p class="text-xl">64010444 นีรชา เลาะหมัดจิตร</p> v
        <p class="text-xl">64010926 สุพิชญา พรหมปาลิต</p>
      </div>

      <div class=" text-dark-blue h-14 text-xl font-semibold">อาจารย์ที่ปรึกษา</div>
      <div class=" text-dark-blue ">
        <p class="text-xl">รศ.ดร.อรฉัตร จิตต์โสภักตร์</p>
      </div>

      <div class=" text-dark-blue h-14 text-xl font-semibold">
        <p>นักศึกษาชั้นปีที่ 4</p>
        <p>คณะวิศวกรรมศาสตร์</p>
        <p>สาขาวิศวกรรมคอมพิวเตอร์</p>
        <p>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</p>
      </div>

      <div class="h-36 flex flex-col justify-center text-dark-blue font-LPPA text-center font-bold">
        <h1 class="text-5xl ">สมัครสมาชิก</h1>
      </div>
      <div class="container">
        <div class="box">
          <div class="left-content">
            <div class="icon-container">
              <img class="h-8 w-8" src="assets\icons\calculator.svg" alt="calculator" />
              <p class="icon-text"> Basic </p>
              <p class="text-description"> รายละเอียดสมาชิก </p>

            </div>
          </div>
          <div class="left-content">
            <div class="icon-container">
              <img class="h-8 w-8" src="assets\icons\blog.svg" alt="Blog" />
              <p class="icon-text"> Tier 1 </p>
              <p class="text-description"> รายละเอียดสมาชิก </p>
            </div>
          </div>
          <div class="left-content">
            <div class="icon-container">
              <img class="h-8 w-8" src="assets\icons\blog.svg" alt="Blog" />
              <p class="icon-text"> Tier 2 </p>
              <p class="text-description"> รายละเอียดสมาชิก </p>
            </div>
          </div>
          <div class="left-content">
            <div class="icon-container">
              <img class="h-8 w-8" src="assets\icons\blog.svg" alt="Blog" />
              <p class="icon-text"> Tier 3 </p>
              <p class="text-description"> รายละเอียดสมาชิก </p>
            </div>
          </div>

        </div>
      </div>




    </div>
  </div>
