<div class="bg-white flex items-center justify-center p-4">

  <div class="container">
    <div class="mx-4">

      <div class="p-8 flex gap-8">

        <section class="w-[50%] bg-white rounded-lg shadow p-6">
          <div class="relative">
            <img src="\assets\imgs\default profile img.png" alt="Avatar"
              class="rounded-full w-[200px] h-[200px] mx-auto object-contain flex items-center gap-4 mb-6" />
            <button
              class="absolute top-0 right-0 bg-red-500 text-white rounded-md text-sm px-4 py-2 flex items-center gap-2">
              ลบบัญชีนี้
              <img src="\assets\icons\bin.svg" alt="Delete Icon" class="w-4 h-4" />
            </button>
          </div>
          <div class="space-y-4">
            <div class="grid grid-cols-2 gap-4 text-sm px-10">

              <div class="font-bold text-darkBlue  text-[16px]">ID</div>
              <div class="text-[16px] text-oceanBlue">64010000</div>

              <div class="font-bold text-darkBlue  text-[16px]">ชื่อผู้ใช้งาน</div>
              <div class="text-[16px] text-oceanBlue">victoria_s</div>

              <div class="font-bold text-darkBlue  text-[16px]">อีเมล</div>
              <div class="text-[16px] text-oceanBlue">victoria.s&#64;example.com</div>

              <div class="font-bold text-darkBlue  text-[16px]">ชื่อ-นามสกุล</div>
              <div class="text-[16px] text-oceanBlue">วิกตอเรีย สมิธ</div>

              <div class="font-bold text-darkBlue  text-[16px]">เพศ</div>
              <div class="text-[16px] text-oceanBlue">หญิง</div>

              <div class="font-bold text-darkBlue  text-[16px]">เกิดวันที่</div>
              <div class="text-[16px] text-oceanBlue">2024-08-18</div>

              <div class="font-bold text-darkBlue  text-[16px]">อายุ</div>
              <div class="text-[16px] text-oceanBlue">18</div>

              <div class="font-bold text-darkBlue  text-[16px]">เบอร์โทรศัพท์</div>
              <div class="text-[16px] text-oceanBlue">0817394547</div>
            </div>
          </div>
          <button
            class="bg-yellow font-bold rounded-[24px] w-[160px] h-[40px] mt-6 mx-auto flex items-center justify-center text-center">
            แก้ไขข้อมูล
          </button>
        </section>


        <section class="w-[50%] h-full flex flex-col gap-6">
          <div class="w-full h-auto bg-white rounded-lg shadow p-6">
            <div class="flex justify-between items-start">

              <div class="w-[50%] flex flex-col items-center">
                <div class="w-full h-full flex items-center justify-center bg-lightBlue p-4">
                  <div class="">
                    <img src="\assets\imgs\recipt.png" alt="receipt-picture" />
                  </div>
                </div>
                <div class="grid grid-cols-2 mt-2">
                  <p class="text-[14px] font-bold text-darkBlue">เวลาในการชำระเงิน:</p>
                  <p class="text-[14px] font-medium text-darkBlue">2024-08-05 13:55:40</p>
                </div>
                <div class="grid grid-cols-2 mt-2">
                  <p class="text-[14px] font-bold text-darkBlue">Tier ที่ร้องขอ:</p>
                  <p class="text-[14px] font-medium text-darkBlue">3</p>
                </div>
              </div>

              <div class="w-[50%] p-4 space-y-5">
                <div class="grid grid-cols-2 mt-2">
                  <p class="font-bold text-darkBlue text-[16px]">ร้องขอสมาชิก:</p>
                  <p class="font-medium text-darkBlue text-[16px]">Tier 3</p>
                </div>

                <div class="flex items-center">
                  <label htmlFor="membership" class="block font-bold text-darkBlue text-[16px]">
                    ระดับสมาชิกปัจจุบัน
                  </label>
                </div>
                <select id="membership" title="ระดับสมาชิกปัจจุบัน"
                  class="w-full rounded-md p-2 bg-babyBlue font-bold text-darkBlue">
                  <option class="bg-lightBlue font-bold">Basic</option>
                  <option class="bg-lightBlue font-bold">Tier 1</option>
                  <option class="bg-lightBlue font-bold">Tier 2</option>
                  <option class="bg-lightBlue font-bold">Tier 3</option>
                </select>

                <div class="mt-4 flex items-center gap-2">
                  <label htmlFor="status" class="block font-bold text-darkBlue text-[16px]">
                    สถานะการตรวจสอบ
                  </label>
                </div>
                <select id="status" title="สถานะการตรวจสอบ"
                  class="w-full rounded-md p-2 bg-light-grey font-bold text-grey ">
                  <option class="bg-lightOrange font-bold text-darkOrange">ไม่ได้ตรวจสอบ</option>
                  <option class="bg-lightGreen font-bold text-midGreen">ตรวจสอบแล้ว</option>
                </select>
              </div>

            </div>
          </div>

          <div class="w-full h-auto bg-white rounded-lg shadow p-6">
            <div class="grid grid-cols-2 gap-5 text-oceanBlue">
              <div class="grid grid-cols-2">
                <strong class="text-darkBlue">บ้านเลขที่</strong>
                <p>61/5</p>
              </div>
              <div class="grid grid-cols-2">
                <strong class="text-darkBlue">ถนน</strong>
                <p> สุขุมวิท ซอย 11</p>
              </div>
              <div class="grid grid-cols-2">
                <strong class="text-darkBlue">ตำบล</strong>
                <p> คลองเตย</p>
              </div>
              <div class="grid grid-cols-2">
                <strong class="text-darkBlue">อำเภอ</strong>
                <p> คลองเตย</p>
              </div>
              <div class="grid grid-cols-2">
                <strong class="text-darkBlue">จังหวัด</strong>
                <p> กรุงเทพมหานคร</p>
              </div>
              <div class="grid grid-cols-2">
                <strong class="text-darkBlue">รหัสไปรษณีย์</strong>
                <p> 10110</p>
              </div>
            </div>
          </div>
        </section>
      </div>

    </div>
