<div class="flex gap-6">
  <div class="bg-white w-[400px] rounded-lg shadow p-6">
    <div class="relative">
      <img class="w-[100px] h-[100px] rounded-full object-contain mx-auto mb-4"
        src="https://tools-api.webcrumbs.org/image-placeholder/100/100/avatars/1" alt="user avatar" />
      <button
        class="absolute top-0 right-0 bg-brightRed text-white w-auto h-auto flex items-center justify-center rounded-sm">
        <i class="material-symbols-outlined">ลบบัญชีนี้</i>
      </button>
    </div>
    <ul class="text-primary-950 text-sm space-y-1">
      <li>
        <strong>ID:</strong> 64010000
      </li>
      <li>
        <strong>ชื่อผู้ใช้งาน:</strong> victoria_s
      </li>
      <li>
        <strong>อีเมล:</strong> victoria.s&#64;example.com
      </li>
      <li>
        <strong>ชื่อ-นามสกุล:</strong> วิคตอเรีย สมิธ
      </li>
      <li>
        <strong>เพศ:</strong> หญิง
      </li>
      <li>
        <strong>เกิดวันที่:</strong> 2024-08-18 <strong>อายุ:</strong> 18
      </li>
      <li>
        <strong>เบอร์โทรศัพท์:</strong> 0817394547
      </li>
    </ul>
    <button class="w-full mt-6 bg-primary-500 text-primary-50 rounded-md py-2">
      แก้ไขข้อมูล
    </button>
  </div>
  <div class="flex-1 grid grid-cols-1 gap-6">
    <div class="bg-white rounded-lg shadow p-6">
      <h2 class="font-title text-primary-950 text-lg mb-4">
        ข้อมูลสมาชิก:
      </h2>
      <div class="flex justify-between items-center bg-neutral-50 rounded-md px-4 py-2 mb-4">
        <span class="font-light">ระดับสมาชิกปัจจุบัน</span>
        <details class="relative">
          <summary class="cursor-pointer">Basic</summary>
          <div class="absolute left-0 w-[150px] bg-white rounded-md shadow mt-2 z-10">
            <ul>
              <li class="px-4 py-2 hover:bg-neutral-100 cursor-pointer">Basic</li>
              <li class="px-4 py-2 hover:bg-neutral-100 cursor-pointer">Tier1</li>
              <li class="px-4 py-2 hover:bg-neutral-100 cursor-pointer">Tier2</li>
              <li class="px-4 py-2 hover:bg-neutral-100 cursor-pointer">Tier3</li>

            </ul>
          </div>
        </details>
      </div>
      <div class="flex justify-between items-center bg-neutral-50 rounded-md px-4 py-2">
        <span class="font-light">สถานะการตรวจสอบ</span>
        <details class="relative">
          <summary class="cursor-pointer">ตรวจสอบแล้ว</summary>
          <div class="absolute left-0 w-[150px] bg-white rounded-md shadow mt-2 z-10">
            <ul>
              <li class="px-4 py-2 hover:bg-neutral-100 cursor-pointer">ตรวจสอบแล้ว</li>
              <li class="px-4 py-2 hover:bg-neutral-100 cursor-pointer">ไม่ได้ตรวจสอบ</li>
            </ul>
          </div>
        </details>
      </div>
      <img class="w-[150px] h-[70px] object-contain mt-4 mx-auto" src="" alt="payment" />
    </div>
    <div class="bg-white rounded-lg shadow p-6">
      <h2 class="font-title text-primary-950 text-lg mb-4">ที่อยู่</h2>
      <div class="grid grid-cols-2 gap-2 text-sm text-primary-950">
        <div>
          <strong>บ้านเลขที่:</strong> 61/5
        </div>
        <div>
          <strong>ถนน:</strong> สุขุมวิท ซอย 11
        </div>
        <div>
          <strong>ตำบล:</strong> คลองเตย
        </div>
        <div>
          <strong>อำเภอ:</strong> คลองเตย
        </div>
        <div>
          <strong>จังหวัด:</strong> กรุงเทพฯ
        </div>
        <div>
          <strong>รหัสไปรษณีย์:</strong> 10110
        </div>
      </div>
    </div>
  </div>
</div>
