<div class="w-full h-auto bg-light-grey p-8">
  <div class="max-w-4xl mx-auto">
    <div class="space-y-4 mb-8">
      <h2 class="mb-4 text-lg font-semibold text-darkBlue text-center">สินเชื่อเดิม</h2>
      <div class="flex items-center justify-between">
        <label class="text-darkBlue text-right min-w-[200px]">วงเงินกู้เดิม</label>
        <input type="number" min="0" step="any" [(ngModel)]="currentLoanAmount"
          class="rounded-full px-6 py-3 flex-1 ml-4 focus:outline-none" value="" title="currentLoanAmount"
          placeholder="วงเงินกู้เดิม (บาท)" />
      </div>

      <div class="flex items-center justify-between">
        <label class="text-darkBlue text-right min-w-[200px]">
          ค่างวดต่อเดือน
        </label>
        <input type="number" min="0" step="any" [(ngModel)]="currentMonthlyPayment"
          class="rounded-full px-6 py-3 flex-1 ml-4 focus:outline-none" value="" title="currentMonthlyPayment"
          placeholder="ค่างวดต่อเดือน ณ ปัจจุบัน (บาท)" />
      </div>

      <div class="flex items-center justify-between">
        <label class="text-darkBlue text-right min-w-[200px]">จำนวนปีคงเหลือ</label>
        <input type="number" min="0" step="any" [(ngModel)]="currentLoanTerm"
          class="rounded-full px-6 py-3 flex-1 ml-4 focus:outline-none" value="" title="Interest Rate"
          placeholder="จำนวนปีคงเหลือโดยประมาณ" />
      </div>
      <div class="flex items-center justify-between">
        <label class="text-darkBlue text-right min-w-[200px]">อัตราดอกเบี้ยปัจจุบัน</label>
        <input type="number" min="0" step="any" [(ngModel)]="currentInterestRate"
          class="rounded-full px-6 py-3 flex-1 ml-4 focus:outline-none" value="" title="Interest Rate"
          placeholder="อัตราดอกเบี้ยปัจจุบัน (%)" />
      </div>
    </div>

    <div class="space-y-4 mb-8">
      <h2 class="mb-4 text-lg font-semibold text-darkBlue text-center">สินเชื่อใหม่</h2>
      <div class="flex items-center justify-between">
        <label class="text-darkBlue text-right min-w-[200px]">ยอดเงินกู้ใหม่</label>
        <input type="number" min="0" step="any" [(ngModel)]="newLoanAmount"
          class="rounded-full px-6 py-3 flex-1 ml-4 focus:outline-none" name="loanAmount" value="" title="Loan Amount"
          placeholder="ยอดสินเชื่อคงเหลือ (บาท)" />
      </div>

      <div class="flex items-center justify-between">
        <label class="text-darkBlue text-right min-w-[200px]">
          ระยะเวลากู้
        </label>
        <input type="number" min="0" step="any" [(ngModel)]="newLoanTerm"
          class="rounded-full px-6 py-3 flex-1 ml-4 focus:outline-none" value="" title="Loan Term"
          placeholder="ระยะเวลากู้" />
      </div>

      <div class="flex items-center justify-between">
        <label class="text-darkBlue text-right min-w-[200px]">ค่าใช้จ่ายในการรีไฟแนนซ์</label>
        <input type="number" min="0" step="any" [(ngModel)]="refinanceCost"
          placeholder="ค่าใช้จ่ายในการรีไฟแนนซ์ หากไม่มีกรุณาใส่ 0"
          class="rounded-full px-6 py-3 flex-1 ml-4 focus:outline-none" value="" title="Interest Rate" required />
      </div>
      <div class="flex items-center justify-between">
        <label class="text-darkBlue text-right min-w-[200px]">อัตราดอกเบี้ยใหม่</label>
        <input type="number" min="0" step="any" [(ngModel)]="newInterestRate"
          class="rounded-full px-6 py-3 flex-1 ml-4 focus:outline-none" value="" title="Interest Rate"
          placeholder="อัตราดอกเบี้ยใหม่ (%)" />
      </div>
    </div>



    <div class="flex justify-center mb-8">
      <button class="py-2 px-12 bg-darkBlue text-white rounded-full hover:bg-yellow hover:text-black"
        (click)="calculate()">
        คำนวณ
      </button>
    </div>

    <table class="w-full mt-8 bg-white rounded-lg overflow-hidden">
      <thead>
        <tr class="bg-gray-50">
          <th class="p-3 text-sm">ยอดเงินกู้(บาท)</th>
          <th class="p-3 text-sm">ระยะเวลากู้ (ปี)</th>
          <th class="p-3 text-sm">ดอกเบี้ยต่อเดือน (บาท)</th>
          <th class="p-3 text-sm">ยอดผ่อนชำระต่อเดือน (บาท)</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b">
          <td class="p-3 text-center text-grey">{{currentLoanAmountWithInterest | number:'1.2-2'}}</td>
          <td class="p-3 text-center text-grey">{{currentLoanTerm}}</td>
          <td class="p-3 text-center text-grey">{{currentTotalInterest | number:'1.2-2'}}</td>
          <td class="p-3 text-center text-grey">{{currentMonthlyPayment | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td class="p-3 text-center text-oceanBlue">
            <img src="assets\icons\continue-arr.svg" alt="Decair Icon" class="inline-block w-9 h-9 mr-2 text-left">
            {{newLoanAmountWithInterest | number:'1.2-2'}}
          </td>
          <td class="p-3 text-center text-oceanBlue">{{newLoanTerm}}</td>
          <td class="p-3 text-center text-oceanBlue">{{newTotalInterest | number:'1.2-2'}}</td>
          <td class="p-3 text-center text-oceanBlue">{{newMonthlyPayment | number:'1.2-2'}}</td>
        </tr>
      </tbody>
    </table>


    <div class="bg-white rounded-md p-6 shadow-sm mt-8">
      <h3 class="text-darkBlue font-semibold text-lg mb-4">ผลลัพธ์</h3>

      <div class="space-y-4">
        <div class="flex items-center justify-between border-b border-light-grey py-2">
          <span class="text-darkBlue font-medium">ดอกเบี้ยที่ประหยัดได้ (บาท)</span>
          <span class="text-darkRed font-medium">{{interestSaved | number:'1.2-2'}}</span>
        </div>

        <div class="flex items-center justify-between border-b border-light-grey py-2">
          <span class="text-darkBlue font-medium">ยอดผ่อนชำระต่อเดือนใหม่ (บาท)</span>
          <span class="text-darkRed font-medium">{{newMonthlyPayment | number:'1.2-2'}}</span>
        </div>

        <div class="flex items-center justify-between border-b border-light-grey py-2">
          <span class="text-darkBlue font-medium">ส่วนต่างยอดผ่อนชำระต่อเดือน (บาท)</span>
          <span class="text-darkRed font-medium">{{monthlyDifference | number:'1.2-2'}}</span>
        </div>

      </div>
    </div>

  </div>





</div>
