/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Kodchasan&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .collapse {
    visibility: visible;
  }
}

:root {
  --darkBlue: #2749a3;
  --oceanBlue: #307da2;
  --blue: #86b6cd;
  --babyBlue: #c6e6ff;
  --lightBlue: #f0f8ff;

  --yellow: #f3c762;
  --midGreen:#00a76f;

  --black: #000000;
  --grey: #7d7a83;
  --midGrey: #d2d2d2;
  --lightGrey: #e0e0e0;
  --whiteGrey: #f4f6f8;
  --white: #ffffff;
}

.inset-x-0 {
  z-index: 0;
}
.menu {
  z-index: 1;
}
html {
  font-family: "Kodchasan", sans-serif;
  background-color: white;
  color: var(--darkBlue);
  min-height: 100%;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

textarea {
  resize: none;
}

/* calculator page */
.mat-mdc-tab .mdc-tab__text-label {
  color: #2749a3 !important;
  font-weight: 900;
  font-family: "Kodchasan", sans-serif;
}

.mat-mdc-tab {
  background-color: var(--lightBlue) !important;
  border-radius: 15px 15px 0px 0px;
  border-style: solid;
  border-width: 10px 10px 0px 10px;
  border-color: var(--black) !important;
}

.mdc-tab-indicator--active {
  background-color: var(--lightGrey) !important;
}

.mdc-tab-indicator__content--underline {
  display: none !important;
}
.mat-mdc-tab-group .mat-mdc-tab {
  /* --mat-tab-header-active-ripple-color:transparent; */
  border-radius: 15px 15px 0px 0px !important;
  overflow: hidden;
}

.mat-mdc-tab-group-stretch-tabs {
  height: 100% !important;
}
.mat-mdc-tab-body-wrapper {
  height: 100% !important;
}
/* remove focus on input and select*/
.input:focus,
.input:focus-within {
  border: none;
}
.select:focus {
  border: none;
}

/* Mobile devices (portrait and landscape) */
@media (max-width: 768px) {
  details[open] summary div svg {
    stroke: #ff5733 !important;
  }
}

/* Tablets (portrait and landscape) */
@media (min-width: 769px) and (max-width: 1024px) {
  details[open] summary div svg {
    stroke: #33ff57 !important;
  }
}

/* Laptops and desktops */
@media (min-width: 1025px) and (max-width: 1440px) {
  details[open] summary div svg {
    stroke: #3357ff !important;
  }
}

/* Large screens */
@media (min-width: 1441px) {
  details[open] summary div svg {
    stroke: #7623f3 !important;
  }
}
