@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .collapse {
    visibility: visible;
    }
    }


.inset-x-0 {
    z-index: 0;
}
.menu {
    z-index: 1;
}