<div class=" h-screen bg-blue flex-center">
    <div class="bg-white w-1/3 h-1/2 min-h-[400px] min-w-[450px] rounded-xl ">
        <form class="flex flex-col  items-center justify-center gap-3 h-full w-full" [formGroup]="siginForm"
            (ngSubmit)="onSignin()">
            <h1 class="text-2xl font-bold pb-5 text-darkBlue">ลงชื่อเข้าใช้งาน</h1>
            <div class="text-brightRed" *ngIf="siginForm.get('email')?.invalid&&siginForm.get('email')?.touched">
                กรุณากรอกรูปแบบอีเมลให้ถูกต้อง</div>
                <div class="text-brightRed" *ngIf="loginFailed ">อีเมลหรือรหัสผ่านไม่ถูกต้อง</div>
            <input class="input input-bordered w-9/12 min-h-[50px] bg-lightBlue" type="text" formControlName="email"
                placeholder="อีเมล">

            <input class="input input-bordered w-9/12 min-h-[50px] bg-lightBlue" type="password" formControlName="password"
                placeholder="รหัสผ่าน">
            <button type="submit" class="mt-6 btn flex-center bg-darkBlue text-white w-9/12">ลงชื่อเข้าใช้งาน</button>
            <a class="text-grey underline " routerLink="/ForgotPassword">ลืมรหัสผ่าน</a>
            <p class="text-grey pt-5">ยังไม่มีบัญชีผู้ใช้งาน? <a  routerLink="/Signup"
                    class="text-xl text-darkBlue font-semibold ">ลงทะเบียนผู้ใช้งานใหม่</a></p>

        </form>

    </div>
</div>
