<div class="p-6">
  <div class="w-full mb-6 bg-light-blue">
    <div class="relative px-5 py-5">
      <input type="text" placeholder="ค้นหา...."
        class="w-full bg-white border border-neutral-200 rounded-md px-4 py-2 text-neutral-950 placeholder-neutral-500 focus:outline-none" />
    </div>
    <div class="overflow-x-auto px-5 py-5">
      <table class="w-full border-collapse ">
        <thead>
          <tr class="bg-primary-100 text-dark-blue">
            <th class="py-3 px-4 text-left">ลำดับ</th>
            <th class="py-3 px-4 text-left">ID</th>
            <th class="py-3 px-4 text-left">ชื่อผู้ใช้</th>
            <th class="py-3 px-4 text-left">ชื่อ-นามสกุล</th>
            <th class="py-3 px-4 text-left">เบอร์โทร</th>
            <th class="py-3 px-4 text-left">ระดับสมาชิก</th>
            <th class="py-3 px-4 text-left">เวลาชำระเงิน</th>
            <th class="py-3 px-4 text-left">สถานะตรวจสอบ</th>
          </tr>
        </thead>

        <tbody>
          <tr key={index} class="border-b border-neutral-100 hover:bg-neutral-50 text-black">
            <td class="py-3 px-4">1</td>
            <td class="py-3 px-4">001</td>
            <td class="py-3 px-4">john123</td>
            <td class="py-3 px-4">จอห์น สมิธ</td>
            <td class="py-3 px-4">089-123-4567</td>
            <td class="py-3 px-4">Tier 1</td>
            <td class="py-3 px-4">2024-08-19 12:34:56</td>
            <td class="py-3 px-4">ตรวจสอบแล้ว</td>
          </tr>
        </tbody>
        <tbody>
          <tr key={index} class="border-b border-neutral-100 hover:bg-neutral-50 text-black">
            <td class="py-3 px-4">1</td>
            <td class="py-3 px-4">001</td>
            <td class="py-3 px-4">john123</td>
            <td class="py-3 px-4">จอห์น สมิธ</td>
            <td class="py-3 px-4">089-123-4567</td>
            <td class="py-3 px-4">Tier 1</td>
            <td class="py-3 px-4">2024-08-19 12:34:56</td>
            <td class="py-3 px-4">ตรวจสอบแล้ว</td>
          </tr>
        </tbody>
        <tbody>
          <tr key={index} class="border-b border-neutral-100 hover:bg-neutral-50 text-black">
            <td class="py-3 px-4">1</td>
            <td class="py-3 px-4">001</td>
            <td class="py-3 px-4">john123</td>
            <td class="py-3 px-4">จอห์น สมิธ</td>
            <td class="py-3 px-4">089-123-4567</td>
            <td class="py-3 px-4">Tier 1</td>
            <td class="py-3 px-4">2024-08-19 12:34:56</td>
            <td class="py-3 px-4">ตรวจสอบแล้ว</td>
          </tr>
        </tbody>
        <tbody>
          <tr key={index} class="border-b border-neutral-100 hover:bg-neutral-50 text-black">
            <td class="py-3 px-4">1</td>
            <td class="py-3 px-4">001</td>
            <td class="py-3 px-4">john123</td>
            <td class="py-3 px-4">จอห์น สมิธ</td>
            <td class="py-3 px-4">089-123-4567</td>
            <td class="py-3 px-4">Tier 1</td>
            <td class="py-3 px-4">2024-08-19 12:34:56</td>
            <td class="py-3 px-4">ตรวจสอบแล้ว</td>
          </tr>
        </tbody>
        <tbody>
          <tr key={index} class="border-b border-neutral-100 hover:bg-neutral-50 text-black">
            <td class="py-3 px-4">1</td>
            <td class="py-3 px-4">001</td>
            <td class="py-3 px-4">john123</td>
            <td class="py-3 px-4">จอห์น สมิธ</td>
            <td class="py-3 px-4">089-123-4567</td>
            <td class="py-3 px-4">Tier 1</td>
            <td class="py-3 px-4">2024-08-19 12:34:56</td>
            <td class="py-3 px-4">ตรวจสอบแล้ว</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>