<div class="h-full bg-babyBlue flex-center">
    <div class="h-[20rem] w-[40rem] bg-white">
        <form [formGroup]="resetPassword" class="w-full h-full flex flex-col justify-between p-5 items-center" (ngSubmit)="onSubmit()">
            <h1 class="text-center text-2xl font-bold text-darkBlue">รีเซ็ตรหัสผ่าน</h1>
            <p class="text-center text-sm text-grey">
              กรุณากรอกอีเมลที่ได้ลงทะเบียนไว้ ลิ้งรีเซ็ตรหัสผ่านใหม่จะถูกส่งเข้าสู่อีเมลของคุณ
            </p>
            <input class="input input-bordered w-9/12 bg-lightBlue" 
                   type="email" 
                   placeholder="อีเมล" 
                   formControlName="email">
            
            <div class="mt-6 flex gap-x-4 w-3/4">
              <button type="button" class="btn btn-sm h-10 flex-center bg-white text-grey w-full border-gray-400" routerLink="/Signin">
                <mat-icon fontIcon="arrow_back_ios"></mat-icon>ย้อนกลับ
              </button>
              <button type="submit" class="btn btn-sm h-10 flex-center bg-darkBlue text-white w-full" [disabled]="!resetPassword.valid">
                ส่งลิ้งรีเซ็ตรหัสผ่าน <mat-icon fontIcon="arrow_forward_ios"></mat-icon>
              </button>
            </div>
          </form>
          
    </div>
</div>

<dialog id="forget_password" class="modal ">
  <div class="modal-box  text-darkBlue">
      <p class="py-4">ส่งฟอร์ม reset passwordไปที่emailของท่านแล้วกรุณา 1-2นาที</p>
      <div class="modal-action">
          <form method="dialog">
              <button class="btn bg-darkBlue text-white" routerLink="/Sing-up">รับทราบ</button>
          </form>
      </div>
  </div>
</dialog>